<div id="edit-view"  class="container-fluid">
    <div class="row d-flex align-items-end edit-header">
        <div class="col-9 d-flex">
            <span class="edit-header-icon"><i class="fas fa-users-crown"></i></span>
            <span class="edit-header-title">Location</span>
        </div>
        <div class="col-3 d-flex">
            active
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.name" placeholder="Name" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-6 d-flex">
            <ejs-textbox [(value)]="record.serviceStartDate" placeholder="Service Start Date" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-6 d-flex">
            <ejs-textbox [(value)]="record.serviceEndDate" placeholder="Service End Date" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.sampler" placeholder="Sampler" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-6 d-flex">
            <ejs-textbox [(value)]="record.latitude" placeholder="Latitude" floatLabelType="Always" contenteditable="false"></ejs-textbox>
        </div>
        <div class="col-md-6 d-flex">
            <ejs-textbox [(value)]="record.longitude" placeholder="Longitude" floatLabelType="Always" contenteditable="false"></ejs-textbox>
        </div>
    </div>
    
    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.active" placeholder="Active" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex pad-t20 pad-b20">
        <div class="col-12 d-flex">
            <ejs-textbox [(value)]="record.notes" placeholder="Notes" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading">Save</button>
            <ejs-toast #toast></ejs-toast>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/location/list']">Close</button>            
        </div>        
    </div>
</div>

