<div id="edit-view" class="container-fluid">
    <div class="row d-flex align-items-end">
        <div class="col col-12 d-flex">
            <ejs-textbox [(value)]="record.email" placeholder="Email" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>
    <div class="row d-flex align-items-end mar-t20">
        <div class="col col-6 d-flex">
            <ejs-textbox [(value)]="record.firstName" placeholder="First Name" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col col-6 d-flex">
            <ejs-textbox [(value)]="record.lastName" placeholder="Last Name" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>
    <div class="row d-flex align-items-end">
        <div class="col col-12 d-flex">

        </div>
    </div>
</div>



<div *ngIf="record" style="margin: 1em">    

    <h6 style="margin-top: 2em">Phone:</h6>
    <ejs-textbox [(value)]="record.phone"></ejs-textbox>

    <h6 style="margin-top: 2em">Roles:</h6>

    <ejs-grid #grid [dataSource]='record.roles' [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }' [allowSorting]="true" [allowFiltering]="true">
        <e-columns>
            <e-column field='name' headerText='Name'></e-column>

            <e-column headerText='' width="100">
                <ng-template #template let-data>
                    <ejs-checkbox [(checked)]="record.roles[data.index].hasRole"></ejs-checkbox>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>

    <h6 style="margin-top: 2em">Tenants:</h6>

    <ejs-grid #grid [dataSource]='record.tenants' [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }' [allowSorting]="true" [allowFiltering]="true">
        <e-columns>
            <e-column field='name' headerText='Name'></e-column>

            <e-column headerText='' width="100">
                <ng-template #template let-data>
                    <ejs-checkbox [(checked)]="record.tenants[data.index].active"></ejs-checkbox>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>

    <br />
    <button ejs-button isPrimary="true" cssClass="e-outline" (click)="save()" [disabled]="loading">Save</button>
    &nbsp;
    <button ejs-button cssClass="e-outline" (click)="delete()" [disabled]="loading || !record.id">Delete</button>
    &nbsp;
    <button ejs-button cssClass="e-outline" [routerLink]="['/user/list']">Close</button>
    <ejs-toast #toast></ejs-toast>
</div>

