<div id="edit-view" *ngIf="record && form" class="container-fluid" [formGroup]="form">
    <div class="row d-flex align-items-end edit-header">
        <div class="col-9 d-flex">
            <span class="edit-header-icon"><i class="fas fa-calendar-alt"></i></span>
            <span class="edit-header-title">News Article</span>
        </div>
        <div class="col-3 text-right">

        </div>
    </div>

    <div class="row pad-t10">
        <div class="col-md-8">
            <ejs-textbox placeholder="Title *" floatLabelType="Always" formControlName="title"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-t10">
        <div class="col-md-8">
            <ejs-textbox placeholder="Description *" floatLabelType="Always" formControlName="description"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-t10">
        <div class="col-md-3">
            <ejs-datepicker formControlName="publishedDate" placeholder="Date Published *" floatLabelType="Always"></ejs-datepicker>
        </div>
    </div>

    <div class="row pad-t10">
        <div class="col-md-8">
            <ejs-textbox placeholder="Link" floatLabelType="Always" [(value)]="record.link"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-8">
            <ejs-richtexteditor placeholder="Body *" floatLabelType="Always" formControlName="body">
            </ejs-richtexteditor>
        </div>
    </div>

    <div class="row pad-t20" *ngIf="record.id">
        <div class="col-md-8">
            Upload document
            <ejs-uploader [autoUpload]='true' [asyncSettings]="uploadSettings" (uploading)="onUpload($event)" (success)="onUploadSuccess($event)"></ejs-uploader>
        </div>
    </div>

    <div class="row pad-t20" *ngIf="record.documentUrl">
        <div class="col-md-12">
            <img [src]="record.documentUrl" style="max-height: 200px"/>
        </div>
    </div>

    <div class="row">
        <div class="col-12" id="toastdiv">
            <ejs-toast #toast target="#toastdiv" width="100%"></ejs-toast>
        </div>
    </div>

    <br />

    <div class="row d-flex edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" *ngIf="record.id" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/auth/newsArticle/list']" [state]='{ formState: true }'>Close</button>
        </div>
    </div>
</div>

