<div id="list-view" class="container-fluid" *ngIf="app" (keyup.enter)="search()">
    <div class="row d-flex align-items-end">
        <div class="col d-flex align-items-center list-header">
            <span class="list-header-icon"><i class="fas fa-calendar-alt"></i></span>
            <span class="list-header-title">News Articles</span>
            <span class="list-header-add"><button ejs-button cssClass="e-outline" [routerLink]="['../add']" [disabled]="!privileges.create">+ Add</button></span>
        </div>
    </div>
    <div class="row d-flex align-items-end list-content">
        <div class="col-md-2">
            <ejs-textbox [(value)]="form.title" placeholder="Title" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-2">
            <ejs-datepicker [(value)]="form.startDate" placeholder="Start Date" floatLabelType="Always"></ejs-datepicker>
        </div>
        <div class="col-md-2">
            <ejs-datepicker [(value)]="form.endDate" placeholder="End Date" floatLabelType="Always"></ejs-datepicker>
        </div>
        <div class="col-md-2">
            <button ejs-button cssClass="e-primary search-button" iconCss="fal fa-search pad-r10" (click)="search()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pad-t20">
            <ejs-grid #grid [dataSource]='list' *ngIf="list" [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }' [allowSorting]="true" [allowFiltering]="false" (click)="clickGrid()">
                <e-columns>
                    <e-column width="70">
                        <ng-template #template let-data>
                            <a [routerLink]="['../edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                        </ng-template>
                    </e-column>
                    <e-column field='analyteName' headerText='Analyte' width="150"></e-column>
                    <e-column field='title' headerText='Title'></e-column>
                    <e-column field='publishedDate' headerText='Published On' type='date' format='MM/dd/yyyy' width="150"></e-column>
                    <e-column field='createdDate' headerText='Created On' type='date' format='MM/dd/yyyy' width="120"></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
</div>

