/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-pro/css/all.min.css';
@import '../node_modules/@syncfusion/ej2-base/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-angular-notifications/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/fabric.css';
@import "../node_modules/@syncfusion/ej2-navigations/styles/fabric.css";
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/fabric.css';  
@import '../node_modules/@syncfusion/ej2-layouts/styles/fabric.css';  
@import "../node_modules/@syncfusion/ej2-angular-layouts/styles/fabric.css";
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/fabric.css';  
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~leaflet/dist/leaflet.css";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica,  sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: #f1f5f9;    
}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

#login-features.e-dashboardlayout.e-control .e-panel {
    background: rgba(0, 110, 255, 0.90);    
    padding: 10px;
    text-align: center;
    border-width:0px;
    box-shadow: none;
    border-radius: 3px;
}

#login-features.e-dashboardlayout.e-control .e-panel .panel-icon {
    font-size: 1.5em;
    font-weight: 500;
    color:#daddf0;
}

#login-features.e-dashboardlayout.e-control .e-panel .panel-header {
    font-size: 1.1em;
    font-weight: 500;
    color:#ffffff;
}

#login-features.e-dashboardlayout.e-control .e-panel .panel-content {
    font-size: 0.9em;
    font-weight: 400;
    padding-top: 10px;
    color:#daddf0;
}

#login-button
{
    margin-top:50px;
    width:90%;
    height:50px;
    border: 1px solid #daddf0;
    background: rgb(0, 99, 228); 
    border-radius: 3px;
    color:#ffffff;
    font-weight: 500;
}
#login-button:hover
{
    background: rgb(52, 138, 252);
}

#login-button .btn-icon {
    font-size: 1.5em;
    color:#ffffff;
    opacity: 0.6;
}

.login-panel-action
{
    color: #ffffff;
    text-align: center;
    line-height:120px;
    vertical-align: bottom;
}
.login-panel-action a:link,
.login-panel-action a:hover,
.login-panel-action a:visited
{
    color: #ffffff;
}

mat-form-field.mat-form-field {
    width: 100%;
}

#edit-view .mat-form-field-label
{
    font-size: 1.15em;  
}

#wrapper .e-control {
    width: 100%;
}

/* Start - List View styles*/
#list-view {
    border-radius: 5px;   
    border: 1px solid #d8dee6;
    background-color: #ffffff;
    box-sizing:border-box;
    padding:15px;
    margin-bottom: 20px;
}

#list-view .list-header {
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid #d8dee6;
    min-height: 50px;
}

#list-view .list-header-icon {
    display: inline-block;
    font-size: 1.6em;
    color: #2a89ff;
    padding-right: 10px;
}

#list-view .list-header-title {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 400;
    padding-right:20px;
    color:#666666;
}

#list-view button
{
    border-radius: 5px;
}

#list-view .list-header .e-btn .e-btn-icon, 
#list-view .list-header .e-css.e-btn .e-btn-icon
{
    font-size: 20px;
}

#list-view .search-button
{
    max-width: 100px;
    height:32px;
}

#list-view .list-header-add {
    display: inline-block;
    padding-left: 20px;
    border-left: 1px dotted #d8dee6;
}
#list-view .list-actions
{
    display:inline-flex;
    float:right;
    margin-left:10px;
    color:#2a89ff;
}

#list-view .list-actions button
{
    color:#2a89ff;
}

#list-view .list-content {
    padding: 0px;
}

#list-view ejs-grid .e-headercelldiv {
    font-weight: 600;
}

#list-view ejs-grid .e-pager {
    padding-top: 6px;
    padding-bottom: 3px;
    background-color: #f1f5f9;
}

#list-view .e-grid .e-rowcell
{
    padding:10px 8px;
}

#list-view .edit-icon {
    padding-left: 15px;
    padding-right: 15px;
    color: #fd7e14;
}

#list-view label{
    padding-top:8px;
    font-weight: 600;
}

.e-search:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f002";
    padding-right: 10px;
    opacity: 0.5;
}
/* End - List View styles*/
/* Start - Edit View styles*/
#edit-view {
    padding: 10px 15px 15px 15px;
    border-radius: 3px;   
    border: 1px solid #d8deee;
    background-color: #ffffff;
    width:100%;
}

#edit-view .edit-header {
    border-bottom: 2px solid #d8dee6;
    padding-bottom:10px;
}

#edit-view .edit-header-icon {
    display: inline-block;
    font-size: 1.6em;
    background-color: #1e88e5;
    padding: 22px 5px 5px 5px;
    color:white;
    margin-top:-20px;
    border-radius: 3px;
    width:60px;
    height: 60px;
    text-align: center;
}

#edit-view .edit-header-title {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 300;
    padding: 5px 20px 10px 15px;
    color:#3c4858;
}

#edit-view .e-control {
    width: 100%;
}

#edit-view .success-green {
    background-color:#388e3c;
    color:#ffffff;
}

#edit-view .failure-red {
    background-color:#d32f2f;
    color:#ffffff;
}

#edit-view .threeStateToggleBtn .mat-button-toggle .mat-button-toggle-label-content {
    line-height: 32px;
    min-width: 80px;
}

/* #edit-view .e-control .e-date-wrapper {
    max-width: 180px;
    min-width: 180px;
}

#edit-view .e-numeric {
    max-width: 180px;
    min-width: 180px;
} */

#edit-view label.e-float-text {
    padding-top:8px;
    font-weight: 600;
}
#edit-view ejs-grid.edit-grid .e-headercelldiv {
    font-weight: 600;
}

#edit-view .date-picker {
    max-width: 250px;
}

#edit-view .edit-label {
    font-family: "Segoe UI", GeezaPro, "DejaVu Serif", sans-serif;
    font-size: 12px;
    color: #333;
    margin:0px;
    padding:0px;
    font-weight: 600;
}
#edit-view .edit-grid .edit-icon {
    padding-left: 15px;
    padding-right: 15px;
    color: #fd7e14;
}
#edit-view .edit-grid .e-pager {
    padding-top: 6px;
    padding-bottom: 3px;
    background-color: #f1f5f9;
}

#edit-view .edit-footer {
    border-top: 2px solid #d8deee;
    padding-top: 15px;
}
#edit-view .edit-footer button
{
    width: 100px;
    height:36px;
    border-radius: 3px;
}
#edit-view .edit-footer .save-button,
#edit-view .edit-footer #save-button {
    width: 130px;
}
#edit-view .edit-footer .close-button,
#edit-view .edit-footer #close-button {
    margin-left:15px;
}

/* customize the tab */
#edit-view .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
    border: 1px solid #0078d6;
}
#edit-view .e-tab .e-tab-header .e-toolbar-items {
    border-top: 1px solid #0078d6;
}
#edit-view .e-tab .e-tab-header {
    border-bottom: 1px solid #0078d6;
    box-sizing: border-box;
}
#edit-view ejs-tab.e-tab .e-content .e-item {
    padding: 10px;
    border-left: 1px solid #e6ecf5;
    border-right: 1px solid #e6ecf5;
    border-bottom: 1px solid #e6ecf5;
    margin-bottom: 20px;
}
#edit-view .e-tab .e-tab-header .e-toolbar-item .e-tab-text {
    padding-right: 20px;
}

#edit-view .subitem-list-header {
    padding-top:10px;
}
#edit-view .subitem-list-icon {
    display: inline-block;
    font-size: 1.4em;
    color: #0080ff;
    padding-right: 10px;
}
#edit-view .subitem-list-title {
    display: inline-block;
    font-size: 1.4em;
    font-weight: 400;
    padding-right: 20px;
}
#edit-view .subitem-list-add {
    display: inline-block;
    padding-left: 20px;
    border-left: 1px dotted #0366d6;
}
#edit-view .subitem-list-header button {
    height: 30px;
    border-radius: 3px;
}

/* End - Edit View styles*/
.pad-20 {
    padding: 20px;
}
.pad-t20 {
    padding-top: 20px;
}
.pad-r20 {
    padding-right: 20px;
}
.pad-b20 {
    padding-bottom: 20px;
}
.pad-l20 {
    padding-left: 20px;
}

.pad-15 {
    padding: 15px;
}
.pad-t15 {
    padding-top: 15px;
}
.pad-r15 {
    padding-right: 15px;
}
.pad-b15 {
    padding-bottom: 15px;
}
.pad-l15 {
    padding-left: 15px;
}

.pad-10 {
    padding: 10px;
}
.pad-t10 {
    padding-top: 10px;
}
.pad-r10 {
    padding-right: 10px;
}
.pad-b10 {
    padding-bottom: 10px;
}
.pad-l10 {
    padding-left: 10px;
}

.pad-5 {
    padding: 5px;
}
.pad-t5 {
    padding-top: 5px;
}
.pad-r5 {
    padding-right: 5px;
}
.pad-b5 {
    padding-bottom: 5px;
}
.pad-l5 {
    padding-left: 5px;
}
.mar-t10 {
    margin-top: 10px;
}
.mar-t20 {
    margin-top: 20px;
}
.mar-l10 {
    margin-left: 10px;
}
.mar-l20 {
    margin-left: 20px;
}
.bold {
    font-weight: bold;
}


#edit-view .e-upload .e-icons.e-file-delete-btn {
	display: none;
}

#edit-view ejs-textbox input[readonly], #edit-view ejs-textbox textarea[readonly] {
	background-color: #eee;
}

#edit-view .ng-touched.ng-invalid input {
	border-bottom-color: #d32f2f;
    border-bottom-width: 1px;
}

#edit-view .e-error {
    font-size: 0.9em;
    font-weight: 500;
    color: #d32f2f;
}
