/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-pro/css/all.min.css';
@import '../node_modules/@syncfusion/ej2-base/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-angular-notifications/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/fabric.css';
@import "../node_modules/@syncfusion/ej2-navigations/styles/fabric.css";
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/fabric.css';

body {
    margin: 0;
    overflow-y: hidden;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: #f1f5f9;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

#wrapper .e-control {
    width: 100%;
}

/* Start - List View styles*/
#list-view {
    border:0px solid red;
}

#list-view .list-header {
    padding: 15px;
    border-radius: 10px 0px 0px 0px;
    border: 1px solid #e6ecf5;
    background-color:#ffffff;
}

#list-view .list-header-icon {
    display: inline-block;
    font-size: 1.5em;
    color: #0080ff;
    padding-right: 10px;
}

#list-view .list-header-title {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    padding-right:20px;
}

#list-view button
{
    border-radius: 3px;
}

#list-view .search-button
{
    max-width: 120px;
}

#list-view .list-header-add {
    display: inline-block;
    padding-left: 20px;
    border-left: 1px dotted #0366d6;
}

#list-view .list-content {
    background-color: #ffffff!important;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #e6ecf5;
}

#list-view .list-content .e-pager {
    padding-top:10px;
    padding-bottom:3px;
}

#list-view .edit-icon {
    padding-left: 15px;
    padding-right: 15px;
    color: #fd7e14;
}

#list-view label{
    top:70%;
}

.e-search:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f002";
    padding-right: 10px;
    opacity: 0.5;
}
/* End - List View styles*/
/* Start - Edit View styles*/
#edit-view {
    padding: 10px 15px 15px 15px;
    border-radius: 10px 0px 0px 0px;
    border: 1px solid #d8dee6;
    background-color: #ffffff;
    width:100%;
}

#edit-view .edit-header {
    border-bottom: 1px solid #e6ecf5;
    padding-bottom:10px;
}

#edit-view .edit-header-icon {
    display: inline-block;
    font-size: 1.5em;
    color: #0080ff;
    padding-right: 10px;
}

#edit-view .edit-header-title {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    padding-right: 20px;
}

#edit-view .e-control {
    width: 100%;
}
#edit-view label {
    top: 70%;
}
ejs-grid.edit-grid .e-headercelldiv {
    font-weight: 600;
}

#edit-view .date-picker {
    max-width: 250px;
}

#edit-view .edit-label {
    font-size: 12px;
    color: #333333;
    margin:0px;
    padding:0px;
}

#edit-view .edit-footer {
    border-top: 1px solid #e6ecf5;
    padding-top: 15px;
}
#edit-view .edit-footer button
{
    max-width:100px;
    height:36px;
    border-radius: 3px;
}
#edit-view .edit-footer .save-button {
    max-width: 150px;
}
#edit-view .edit-footer .close-button {
    margin-left:30px;
}

/* customize the tab */
#edit-view .e-tab .e-tab-header {
    border-bottom: 1px solid inherit;
    box-sizing:border-box;
}
#edit-view .e-tab .e-content {
    padding: 10px;
    border-left: 1px solid #e6ecf5;
    border-right: 1px solid #e6ecf5;
    border-bottom: 1px solid #e6ecf5;
    margin-bottom: 20px;
}


/* End - Edit View styles*/
.pad-20 {
    padding: 20px;
}
.pad-t20 {
    padding-top: 20px;
}
.pad-r20 {
    padding-right: 20px;
}
.pad-b20 {
    padding-bottom: 20px;
}
.pad-l20 {
    padding-left: 20px;
}

.pad-15 {
    padding: 15px;
}
.pad-t15 {
    padding-top: 15px;
}
.pad-r15 {
    padding-right: 15px;
}
.pad-b15 {
    padding-bottom: 15px;
}
.pad-l15 {
    padding-left: 15px;
}

.pad-10 {
    padding: 10px;
}
.pad-t10 {
    padding-top: 10px;
}
.pad-r10 {
    padding-right: 10px;
}
.pad-b10 {
    padding-bottom: 10px;
}
.pad-l10 {
    padding-left: 10px;
}

.pad-5 {
    padding: 5px;
}
.pad-t5 {
    padding-top: 5px;
}
.pad-r5 {
    padding-right: 5px;
}
.pad-b5 {
    padding-bottom: 5px;
}
.pad-l5 {
    padding-left: 5px;
}

.mar-t20 {
    margin-top: 20px;
}



