<div id="edit-view" *ngIf="record && form" class="container-fluid" [formGroup]="form">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fal fa-vial"></i></span>
            <span class="edit-header-title">Sampler</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">

        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-dropdownlist formControlName="customerId" [dataSource]="data.customers" [fields]="{ text: 'name', value: 'id' }" placeholder="Customer *" floatLabelType="Always"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('customerId')" class="e-error">
                Customer is required!
            </div>
        </div>
    </div>

    <div class="row pad-t20">        
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-textbox formControlName="modelNo" placeholder="Model No" floatLabelType="Always" required></ejs-textbox>
            <div *ngIf="this.invalidControl('modelNo')" class="e-error">
                Model No is required!
            </div>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-textbox formControlName="serialNo" placeholder="Serial No" floatLabelType="Always" required></ejs-textbox>
            <div *ngIf="this.invalidControl('serialNo')" class="e-error">
                Serial No is required!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-textbox formControlName="brand" placeholder="Brand" floatLabelType="Always" required></ejs-textbox>
            <div *ngIf="this.invalidControl('brand')" class="e-error">
                Brand is required!
            </div>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-datepicker [(value)]="record.purchaseDate" placeholder="Purchase Date" floatLabelType="Always"></ejs-datepicker>
        </div>        
    </div>

    <div class="row pad-t20">
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-dropdownlist formControlName="samplingTypeId" [dataSource]="data.samplingTypes" [fields]="{ text: 'name', value: 'id' }" placeholder="Sampling Type *" floatLabelType="Always"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('samplingTypeId')" class="e-error">
                Sampling Type is required!
            </div>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-dropdownlist [(value)]="record.samplingFrequency" [dataSource]="app.frequencies" [fields]="{ text: 'name', value: 'id' }" placeholder="Sampling Frequency" floatLabelType="Always"></ejs-dropdownlist>
        </div>
    </div>

    <div class="row pad-b20">
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-numerictextbox [(value)]="record.samplingDuration" format='N1' min='0' max='500' step='1' placeholder="Sampling Duration" floatLabelType="Always"></ejs-numerictextbox>
        </div>    
        <div class="col-md-4 col-lg-5 col-xl-4">
            <ejs-numerictextbox [(value)]="record.samplingVolume" format='N1' min='0' max='500' step='1' placeholder="Volume" floatLabelType="Always"></ejs-numerictextbox>
        </div>   
    </div>

    <div class="row d-flex align-items-center edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/auth/sampler/list']" [state]='{ formState: true }'>Close</button>
        </div>
    </div>

    <ejs-toast #toast></ejs-toast>
</div>

