<div id="edit-view" *ngIf="record && form" class="container-fluid" [formGroup]="form">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fal fa-vial"></i></span>
            <span class="edit-header-title">Sample Test</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">

        </div>
    </div>

    <div class="row pad-t10">
        <div class="col-md-4">
            <ejs-dropdownlist [dataSource]="app.analytes" [fields]="{ text: 'name', value: 'id' }" formControlName="analyteId" placeholder="Analyte" floatLabelType="Always"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('analyteId')" class="e-error">
                Analyte is required!
            </div>
        </div>

        <div class="col-md-4">
            <ejs-dropdownlist [dataSource]="app.testTypes" [fields]="{ text: 'name', value: 'id' }" formControlName="testTypeId" placeholder="Test Type" floatLabelType="Always"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('testTypeId')" class="e-error">
                Test Type is required!
            </div>
        </div>
    </div>

    <div class="row pad-t10">
        <div class="col-md-4">
            <ejs-textbox formControlName="referenceNo" placeholder="Reference No" floatLabelType="Always"></ejs-textbox>
            <div *ngIf="this.invalidControl('referenceNo')" class="e-error">
                Reference No is required!
            </div>
        </div>
    </div>

    <div class="row pad-t10" *ngIf="!record.sample">
        <div class="col-md-4">
            <ejs-dropdownlist [dataSource]="customers" [fields]="{ text: 'name', value: 'id' }" formControlName="customerId" placeholder="Customer*" floatLabelType="Always" (change)="customerChange()"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('customerId')" class="e-error">
                Customer is required!
            </div>
        </div>

        <div class="col-md-4" *ngIf="sites">
            <ejs-dropdownlist [dataSource]="sites" [fields]="{ text: 'name', value: 'id' }" formControlName="siteId" placeholder="Site*" floatLabelType="Always" (change)="siteChange()"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('siteId')" class="e-error">
                Site is required!
            </div>
        </div>

        <div class="col-md-4" *ngIf="locations">
            <ejs-dropdownlist [dataSource]="locations" [fields]="{ text: 'name', value: 'id' }" formControlName="locationId" placeholder="Location*" floatLabelType="Always" (change)="locationChange()"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('locationId')" class="e-error">
                Location is required!
            </div>
        </div>
    </div>

    <div class="row pad-t10" *ngIf="!record.sample">
        <div class="col-md-4">
            <ejs-dropdownlist [dataSource]="samples" [disabled]="record.sampleId" [fields]="{ text: 'name', value: 'id' }" formControlName="sampleId" placeholder="Sample" floatLabelType="Always"></ejs-dropdownlist>
        </div>
    </div>

    <div class="row pad-t10" *ngIf="record.sample">
        <div class="col-md-4">
            <ejs-textbox [(value)]="record.customer" readonly placeholder="Customer" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-4">
            <ejs-textbox [(value)]="record.site" readonly placeholder="Site" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-4">
            <ejs-textbox [(value)]="record.location" readonly placeholder="Location" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-t10" *ngIf="record.sample">
        <div class="col-md-4">
            <ejs-textbox [(value)]="record.sample" readonly placeholder="Sample" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-4 d-flex align-items-end">
            <div class="row">
                <div class="col-md-12">
                    <label for="testQc" class="edit-label">Test QC</label>
                </div>
                <div class="col-md-12">
                    <mat-button-toggle-group id="testQc" name="testQc" class="threeStateToggleBtn" [(value)]="record.rejected">
                        <mat-button-toggle [value]="null" name="testQc">None</mat-button-toggle>
                        <mat-button-toggle [value]="true" name="testQc" [ngClass]="{ 'success-green': record.rejected == true }">Pass</mat-button-toggle>
                        <mat-button-toggle [value]="false" name="testQc" [ngClass]="{ 'failure-red': record.rejected == false }">Fail</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <ejs-dropdownlist [dataSource]="app.rejectionReasons" [fields]="{ text: 'name', value: 'id' }" [(value)]="record.rejectionReasonId" placeholder="Rejection Reason" floatLabelType="Always"></ejs-dropdownlist>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-4 d-flex align-items-end">
            <div class="row">
                <div class="col-md-12">
                    <label for="testResult" class="edit-label">Test Result</label>
                </div>
                <div class="col-md-12">
                    <mat-button-toggle-group id="testResult" name="testResult" class="threeStateToggleBtn" [(value)]="record.result">
                        <mat-button-toggle [value]="null" name="testResult">None</mat-button-toggle>
                        <mat-button-toggle [value]="true" name="testResult" [ngClass]="{ 'success-green': record.result == true }">Positive</mat-button-toggle>
                        <mat-button-toggle [value]="false" name="testResult" [ngClass]="{ 'failure-red': record.result == false }">Negative</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <ejs-numerictextbox [(value)]="record.resultValue" format='N1' min='-100' max='150' step='0.1' placeholder="ResultValue" floatLabelType="Always"></ejs-numerictextbox>
        </div>
    </div>

    <div class="row pad-t20 pad-b20">
        <div class="col-md-4">
            <ejs-textbox [(value)]="record.completedBy" placeholder="Completed By" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-4">
            <ejs-datepicker [(value)]="record.completedDate" placeholder="Completed Date" floatLabelType="Always"></ejs-datepicker>
        </div>
    </div>

    <div class="row pad-t20 pad-b20" *ngIf="record.variants">
        <div class="col-md-12">
            <ejs-grid id="variants-grid" [dataSource]='record.variants' class="edit-grid" [allowPaging]="false" [allowSorting]="true" [allowFiltering]="false">
                <e-columns>
                    <e-column field='name' headerText='Variant Name'></e-column>

                    <e-column field='resultValue' headerText='Result' textAlign='Center' width="220">
                        <ng-template #template let-data>
                            <ejs-numerictextbox [(value)]="record.variants[data.index].resultValue" format='N1' min='-100' max='1000' step='0.1' floatLabelType="Always"></ejs-numerictextbox>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>

    <div class="row d-flex align-items-center edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/auth/sample/edit', record.sampleId]" [state]='{ tests: true }'>Close</button>
        </div>
    </div>

    <ejs-toast #toast></ejs-toast>
</div>
