<div id="list-view" class="container-fluid">
    <div class="row d-flex align-items-end">
        <div class="col-md-12 d-flex align-items-center list-header">
            <span class="list-header-icon"><i class="fas fa-vials"></i></span>
            <span class="list-header-title">Import Samples</span>
        </div>
    </div>

    <div class="row d-flex align-items-end pad-t10">
        <div class="col-6">
            Upload document
            <ejs-uploader [autoUpload]='true' [asyncSettings]="uploadSettings" (uploading)="onUpload($event)" (success)="onUploadSuccess($event)"></ejs-uploader>
        </div>
    </div>

    <div class="row" *ngIf="result">
        <div class="col-12 pad-t20">
            {{result.importCount}} records imported.
            <br/>{{result.successCount}} records imported successfully.
        </div>

        <div class="col-12 pad-t20">
            <ejs-grid #grid [dataSource]='result.errors' [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }'
                        [allowExcelExport]='false' [allowSorting]="true" [allowFiltering]="false">
                <e-columns>
                    <e-column width="70" [visible]='true'>
                        <ng-template #template let-data>
                            <a [routerLink]="['../edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                        </ng-template>
                    </e-column>
                    <e-column field='scheduledDate' type='date' [format]='dateFormat' headerText='Scheduled For' width='150'></e-column>
                    <e-column field='sampleReferenceNo' headerText='Sample Reference No'></e-column>
                    <e-column field='testReferenceNo' headerText='Test Reference No'></e-column>
                    <e-column field='error' headerText='Error Description'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
        </div>
    </div>


