<div id="list-view" class="container-fluid">
    <div class="row d-flex align-items-end">
        <div class="col-3 d-flex align-items-center list-header">
            <span class="list-header-icon"><i class="fas fa-vial"></i></span>
            <span class="list-header-title">Tests</span>
            <span class="list-header-add"><button ejs-button cssClass="e-outline" [routerLink]="['../add']" [disabled]="!privileges?.create">+ Add</button></span>
        </div>
        <div class="col-9 d-flex align-items-end justify-content-end list-header">
            <span class="list-actions"><button ejs-button cssClass="e-outline" iconCss="fad fa-download" [disabled]="loading || !privileges?.download" (click)="export()" title="Export"></button></span>
            <span class="list-actions"><button ejs-button cssClass="e-outline" iconCss="fad fa-bells" (click)="sendNotifications()" title="Send Notifications" [disabled]="loading || !privileges?.communicate"></button></span>
            <span class="list-actions"><button ejs-button cssClass="e-outline" iconCss="fad fa-upload" [routerLink]="['../import']" title="Import" [disabled]="loading || !privileges?.create"></button></span>
        </div>
    </div>
    <div class="row d-flex align-items-end">
        <div class="col-md-4 col-lg-3 col-xl-2">
            <ejs-textbox [(value)]="form.searchTxt" placeholder="Search For" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-2">
            <ejs-dropdownlist [dataSource]="customers" [(value)]="form.customerId" [fields]="{ text: 'name', value: 'id' }" placeholder="Customer" floatLabelType="Always"></ejs-dropdownlist>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2 pad-t20">
            <button ejs-button cssClass="e-primary search-button" iconCss="fal fa-search pad-r10" (click)="search()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pad-t20">
            <ejs-grid #grid [dataSource]='list' *ngIf="list" [allowPaging]="true" [pageSettings]='form.pageSettings' (actionComplete)='gridActionHandler($event)'
                      [allowExcelExport]='true' (excelExportComplete)='excelExportComplete()' [allowSorting]="true" [allowFiltering]="false">
                <e-columns>
                    <e-column width="70" [visible]='true'>
                        <ng-template #template let-data>
                            <a [routerLink]="['../edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                        </ng-template>
                    </e-column>   
                    <e-column field='testNo' headerText='Test No'></e-column>  
                    <e-column field='scheduledDate' type='date' [format]='dateFormat' headerText='Scheduled For'></e-column>    
                    <e-column field='analyte' headerText='Analyte'></e-column>
                    <e-column field='testType' headerText='Test Type' hideAtMedia='(min-width: 1200px)'></e-column>
                    <e-column field='sampleNo' headerText='Sample No'></e-column> 
                    <e-column field='customer' headerText='Customer'></e-column>
                    <e-column field='site' headerText='Site'></e-column> 
                    <e-column field='lab' headerText='Lab'></e-column>                            
                    <e-column field='referenceNo' headerText='Reference No' hideAtMedia='(min-width: 1200px)'></e-column>  
                    <e-column field='result' headerText='Result'></e-column>                    
                    <e-column field='completedDate' type='date' [format]='dateFormat' headerText='Completed On' hideAtMedia='(min-width: 1200px)'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
    <ejs-toast #toast></ejs-toast>
</div>


