<div id="list-view" class="container-fluid">
    <div class="row d-flex align-items-end">
        <div class="col-md-6 d-flex align-items-center list-header">
            <span class="list-header-icon"><i class="fas fa-vials"></i></span>
            <span class="list-header-title">Tests</span>
            <span class="list-header-add"><button ejs-button cssClass="e-outline" [routerLink]="['../add']" [disabled]="!privileges.create">+ Add</button></span>
            <span class="list-header-add"><button ejs-button cssClass="e-outline" [disabled]="!privileges.create" [routerLink]="['../import']">Import</button></span>
        </div>
        <div class="col-md-6 d-flex align-items-end justify-content-end list-header">
            <span class="list-actions"><button ejs-button cssClass="e-outline" iconCss="fad fa-download" [disabled]="!privileges.download" (click)="export()" title="Export"></button></span>
            <span class="list-actions"><button ejs-button cssClass="e-outline" iconCss="fad fa-bells" (click)="sendNotifications()" title="Send Notifications" [disabled]="loading"></button></span>
        </div>
    </div>
    <div class="row d-flex align-items-end">
        <div class="col-3">
            <ejs-textbox [(value)]="name" placeholder="Name" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-3">
            <button ejs-button cssClass="e-primary search-button" iconCss="fal fa-search pad-r10" (click)="search()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pad-t20">
            <ejs-grid #grid [dataSource]='list' *ngIf="list" [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }'
                      [allowExcelExport]='true' (excelExportComplete)='excelExportComplete()' [allowSorting]="true" [allowFiltering]="false">
                <e-columns>
                    <e-column width="70" [visible]='true'>
                        <ng-template #template let-data>
                            <a [routerLink]="['../edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                        </ng-template>
                    </e-column>
                    <e-column field='sample' headerText='Sample'></e-column>
                    <e-column field='site' headerText='Site'></e-column>
                    <e-column field='referenceNo' headerText='Reference No'></e-column>
                    <e-column field='testType' headerText='Test Type'></e-column>
                    <e-column field='result' headerText='Result'></e-column>
                    <e-column field='rejected' headerText='Rejected'></e-column>
                    <e-column field='completedDate' type='date' [format]='dateFormat' headerText='Completed On' width='150'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
    <ejs-toast #toast></ejs-toast>
</div>


