<div class="pad-20" *ngIf="list" [formGroup]="form">
    <div class="row d-flex align-items-center sms-header">
        <div class="col-md-9 d-flex align-items-center">
            <span class="sms-header-icon"><i class="fas fa-sms"></i></span>
            <span class="sms-header-title">SMS Message</span>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <span class="list-actions" id="close"><button ejs-button cssClass="e-flat sms-close-button" iconCss="fas fa-times" (click)="close()"></button></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <ejs-textbox placeholder="To" floatLabelType="Always" multiline='true' [value]="list.length + ' recipients'" [readonly]="true"></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <ejs-textbox formControlName="message" placeholder="Message" floatLabelType="Always" multiline='true' rows="8"></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <button ejs-button cssClass="e-primary" iconCss="fal fa-paper-plane" style='width:150px;' (click)="send()">Send Message</button>
        </div>
    </div>
</div>

<ejs-toast #toast></ejs-toast>
