.sms-header
{
	font-size: 1.2em;
}
.sms-header-icon
{
	color: #333333;
}
.sms-header-title
{
	color: #333333;
	padding-left: 10px;
	font-weight: 400;	
}
.sms-close-button
{
	background-color: transparent;
	border-width: 0px;
}
