<div id="edit-view" *ngIf="record" class="container-fluid">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fal fa-vial"></i></span>
            <span class="edit-header-title">Sample</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            
        </div>        
    </div>
    <div class="row pad-t20">
        <div class="col-md-6 col-lg-5 col-xl-4 pad-b20">
              <mat-form-field floatLabel="always">
                  <mat-label>Reference No</mat-label>
                <input matInput [(value)]="record.referenceNo" type='text' [formControl]="refno" required>
                <mat-error *ngIf="refno.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">     
            <mat-form-field floatLabel="always">
                <mat-label>Scheduled Date</mat-label>
                <input [formControl]="date1" [(value)]="record.scheduledDate" matInput [matDatepicker]="picker1" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="date1.invalid">{{getErrorMessage1()}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <mat-form-field floatLabel="always">
                <mat-label>Site</mat-label>
                <input [(value)]="record.site" matInput disabled>
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <mat-form-field floatLabel="always">
                <mat-label>Location</mat-label>
                <input [(value)]="record.location" matInput disabled>
            </mat-form-field>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="Information">
                    
                
                        <div class="row pad-t20">
                            <div class="col-md-12">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Logistics Vendor</mat-label>
                                    <input [(value)]="record.logisticVendor" matInput disabled>
                                </mat-form-field>
                            </div>
                        </div>
                                            
                        <div class="row">
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Collected By</mat-label>
                                <input [(value)]="record.collectedBy" matInput>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Collected Date</mat-label>
                                    <input [(value)]="record.collectedDate" matInput [matDatepicker]="picker2">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>   

                        <div class="row">
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always" class="example-user-input">
                                    <mat-label>Volume</mat-label>
                                        <input [(value)]="record.volume" matInput type="number" min='0' max='500' step='1'>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always" class="example-user-input">
                                    <mat-label>Temperature</mat-label>
                                        <input [(value)]="record.temperature" matInput type="number" min='-50' max='150' step='0.1'>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always" class="example-user-input">
                                    <mat-label>Acidity</mat-label>
                                        <input [(value)]="record.acidity" matInput type="number" min='0' max='14' step='0.1'>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always" class="example-user-input">
                                    <mat-label>Humidity</mat-label>
                                        <input [(value)]="record.humidity" matInput type="number" min='0' max='100' step='0.1'>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row pad-t20">
                            <div class="col-md-12">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Ship To Lab</mat-label>
                                    <input [(value)]="record.labVendor" matInput disabled>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">        
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Shipped Date</mat-label>
                                    <input [(value)]="record.shippedDate" matInput [matDatepicker]="picker3">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Tracking No</mat-label>
                                <input [(value)]="record.trackingNo" matInput>
                                </mat-form-field>
                            </div>
                        </div>  

                        <div class="row pad-t20">
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Received Date</mat-label>
                                    <input [(value)]="record.receivedDate" matInput [matDatepicker]="picker4">
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Received By</mat-label>
                                <input [(value)]="record.receivedBy" matInput>
                                </mat-form-field>
                            </div>
                        </div>  

                        <div class="row pad-b20">
                            <div class="col-md-6 col-lg-5 col-xl-4 d-flex align-items-end">   
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="sampleQc" class="edit-label">Sample QC Result</label>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-button-toggle-group id="sampleQc" disabled class="threeStateToggleBtn" [(value)]="record.qcpass">
                                            <mat-button-toggle [value]="null">None</mat-button-toggle>
                                            <mat-button-toggle [value]="true" [ngClass]="{ 'success-green': record.qcpass == true }">Pass</mat-button-toggle>
                                            <mat-button-toggle [value]="false" [ngClass]="{ 'failure-red': record.qcpass == false }">Fail</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </div>   
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-4 d-flex align-items-end">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Select an option</mat-label>
                                    <mat-select [(value)]="record.qcfailureReasonId">
                                        <mat-option *ngFor="let f of record.qcFailureReasons" [value]="f.id">{{f.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                </mat-tab>
                <mat-tab label="Tests">
                    <div id="list-view" class="container-fluid">
                        <div class="row d-flex align-items-end">
                            <div class="col-md-6 d-flex align-items-center list-header">
                                <span class="list-header-icon"><i class="fas fa-vials"></i></span>
                                <span class="list-header-title">Tests</span>
                                <span class="list-header-add"><button ejs-button cssClass="e-outline" [routerLink]="['/auth/sampletest/add']">+ Add</button></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pad-t20">
                                <ejs-grid #grid [dataSource]='list' [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }'
                                          [allowExcelExport]='true' (excelExportComplete)='excelExportComplete()' [allowSorting]="true" [allowFiltering]="false">
                                    <e-columns>
                                        <e-column width="70" [visible]='true'>
                                            <ng-template #template let-data>
                                                <a [routerLink]="['/auth/sampletest/edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                                            </ng-template>
                                        </e-column>
                                        <e-column field='testType' headerText='Test Type'></e-column>
                                        <e-column field='result' headerText='Result'></e-column>
                                        <e-column field='rejected' headerText='Rejected'></e-column>
                                        <e-column field='completedDate' type='date' [format]='dateFormat' headerText='Completed On' width='150'></e-column>
                                    </e-columns>
                                </ejs-grid>
                            </div>
                        </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
    <div class="row d-flex align-items-center edit-footer">
        <div class="col-sm-6 d-flex justify-content-start">
            <button id="save-button" mat-flat-button color="primary" cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
            <button mat-flat-button color="warn" (click)="delete()" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button id="close-button" mat-stroked-button color="basic" cssClass="close-button" [routerLink]="['/auth/sample/list']">Close</button>
        </div>
    </div>
    <ejs-toast #toast></ejs-toast>
</div>

