<div id="edit-view" *ngIf="record && form" class="container-fluid g-0" [formGroup]="form">
    <div class="row d-flex align-items-center edit-header toolbar-margin">
        <div class="col-md-7 col-lg-6 col-12 d-flex align-items-center">
            <span class="edit-header-back"><i class="fas fa-arrow-left fa-lg" role="button" (click)="back()" [state]='{ formState: true }'></i></span>
            <span class="edit-header-icon"><i class="fal fa-vial fa-lg"></i></span>
            <span *ngIf="!record.sampleNo" class="edit-header-title">Sample</span>
            <div *ngIf="record.sampleNo" class="edit-header-record-no d-flex flex-column mobile-record">
                <span class="header-record-value">{{record.sampleNo}}</span>
                <span class="header-tag">Sample</span>
            </div>
            <div *ngIf="statusName && id" class="edit-header-status d-flex flex-column hidden">
                <span class="header-status-value">{{statusName}}</span>
                <span class="header-tag">Status</span>
            </div>
        </div>
        <div class="col-md-5 col-lg-6 col-3 save-toolbar">
            <ejs-tooltip id="tooltip" target='#toolbar [title]'>
                <ejs-toolbar id='toolbar' overflowMode='Popup'>
                    <e-items>
                        <e-item id="saveToolbar" text='Save' tooltipText='Save' (click)="save()" [disabled]="loading || !privileges.update" align='Right' prefixIcon="e-icons e-save"></e-item>
                        <e-item id="deleteToolbar" text='Delete' tooltipText='Delete' showAlwaysInPopup='true' (click)="delete()" [disabled]="loading || !record.id || !privileges.delete" align='Right' prefixIcon="e-icons e-trash"></e-item>
                    </e-items>
                </ejs-toolbar>
            </ejs-tooltip>
        </div>
    </div>

    <div class="mar-l10">
        <div class="row pad-t20">
            <div class="col-md-12 col-lg-8 col-xl-6">

                <div class="row pad-t15">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <ejs-textbox formControlName="sampleNo" placeholder="Sample No*" floatLabelType="Always"></ejs-textbox>
                        <div *ngIf="this.invalidControl('sampleNo')" class="e-error">
                            Sample No is required!
                        </div>
                    </div>
            
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <ejs-textbox formControlName="referenceNo" placeholder="Reference No*" floatLabelType="Always"></ejs-textbox>
                        <div *ngIf="this.invalidControl('referenceNo')" class="e-error">
                            Reference No is required!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 pad-b10">
                        <ejs-datepicker id="containerScheduledDate" [(value)]="collection.scheduledDate" placeholder="Scheduled Date" floatLabelType="Always" [readonly]="true"></ejs-datepicker>
                    </div>
                </div>   
            
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <ejs-textbox [(value)]="collection.customer" readonly placeholder="Customer" floatLabelType="Always"></ejs-textbox>
                    </div>
                </div>
                <div class="row pad-b10">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <ejs-textbox [(value)]="record.site" readonly placeholder="Site" floatLabelType="Always"></ejs-textbox>
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <ejs-textbox [(value)]="record.location" readonly placeholder="Location" floatLabelType="Always"></ejs-textbox>
                    </div>
                </div>   
                <div class="row pad-b20">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <ejs-dropdownlist [dataSource]="collection?.containers" [fields]="{ text: 'containerNo', value: 'containerNo' }" [(value)]="record.containerNo" placeholder="Container" floatLabelType="Always"></ejs-dropdownlist>
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <ejs-dropdownlist [dataSource]="labVendors" [fields]="{ text: 'name', value: 'id' }" formControlName="vendorId" placeholder="Ship To*" floatLabelType="Always"></ejs-dropdownlist>
                        <div *ngIf="this.invalidControl('vendorId')" class="e-error">
                            Ship To Lab is required!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-8 col-xl-6">

                <div class="row pad-t20 mar-t10 pad-b10">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <label for="sampSuccessful" class="edit-label bold" style="font-size:1.1em;">Was the sample successful?</label>
                        <ejs-radiobutton label="Not Set" name="sampSuccessful" [value]="null" formControlName="sampleSuccessful" cssClass="mar-l20"></ejs-radiobutton>
                        <ejs-radiobutton label="Yes" name="sampSuccessful" [value]="true" formControlName="sampleSuccessful" cssClass="mar-l20"></ejs-radiobutton>
                        <ejs-radiobutton label="No" name="sampSuccessful" [value]="false" formControlName="sampleSuccessful" cssClass="mar-l20"></ejs-radiobutton>
                    </div>                               
                </div>

                <div class="row" *ngIf="form.get('sampleSuccessful').value === true">      
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <ejs-numerictextbox format='N1' min='0' max='100000' step='1' formControlName="volume" placeholder="Volume* (mL)" floatLabelType="Always"></ejs-numerictextbox>
                        <div *ngIf="this.invalidControl('volume')" class="e-error">
                            Volume is required!
                        </div>
                    </div> 
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <ejs-numerictextbox id="sampleExpectedVolume" [(value)]="record.expectedVolume" format='N1' min='0' max='100000' step='1' placeholder="Expected Volume (mL)" floatLabelType="Always" readOnly="true"></ejs-numerictextbox>
                    </div>
                </div>

                <div class="row pad-b10" *ngIf="form.get('sampleSuccessful').value === true">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <ejs-datepicker #CompletedDate formControlName="completedDate" placeholder="Completed Date*" floatLabelType="Always" (focus)='datePickerFocus($event)'></ejs-datepicker>
                        <div *ngIf="this.invalidControl('completedDate')" class="e-error">
                            Completed Date is required!
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <ejs-textbox [(value)]="record.completedByName" readonly placeholder="Completed By" floatLabelType="Always"></ejs-textbox>
                    </div>
                </div>

                <div class="row pad-b10" *ngIf="form.get('sampleSuccessful').value === false">                             
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <ejs-dropdownlist [dataSource]="app.sampleFailureReasons" [fields]="{ text: 'name', value: 'id' }" formControlName="failureReasonId" placeholder="Failure Reason*" floatLabelType="Always"></ejs-dropdownlist>
                        <div *ngIf="this.invalidControl('failureReasonId')" class="e-error">
                            Failure Reason is required!
                        </div>
                    </div>
                </div>

                <div class="row pad-t10">
                    <div class="col-md-12 col-lg-10 col-xl-8"><label for="notes" class="edit-label">Notes</label></div>
                    <div class="col-sm-12 col-md-8 col-lg-12 col-xl-8">
                        <ejs-textbox id="notes" [multiline]='true' #default rows="2" [(value)]="record.notes"></ejs-textbox>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pad-t10">
            <div class="col-md-12">
                <ejs-tab id="edit-tab" class="e-fill" #editTab (created)="editTabCreated()">
                    <e-tabitems>
                        <e-tabitem *ngIf="record.id">
                            <ng-template #headerText>
                                <div>Tests</div>
                            </ng-template>
                            <ng-template #content>
                                <div id="list-view" class="container-fluid">
                                    <div class="row d-flex align-items-end">
                                        <div class="col-md-6 d-flex align-items-center list-header">
                                            <span class="list-header-icon"><i class="fas fa-vials"></i></span>
                                            <span class="list-header-title">Tests</span>
                                            <span class="list-header-add"><button ejs-button cssClass="e-outline" [routerLink]="['/auth/sampletest/add', record.id]">+ Add</button></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 pad-t20">
                                            <ejs-grid #grid [dataSource]='tests' [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }'
                                                    [allowExcelExport]='true' (excelExportComplete)='excelExportComplete()' [allowSorting]="true" [allowFiltering]="false">
                                                <e-columns>
                                                    <e-column width="70" [visible]='true'>
                                                        <ng-template #template let-data>
                                                            <a [routerLink]="['/auth/sampletest/edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                                                        </ng-template>
                                                    </e-column>
                                                    <e-column field='testType' headerText='Test Type' width="140"></e-column>
                                                    <e-column field='result' headerText='Result' width="150"></e-column>
                                                    <e-column field='rejected' headerText='Rejected' width="140"></e-column>
                                                    <e-column field='completedDate' type='date' format='MM/dd/yyyy' headerText='Completed On' width='150'></e-column>
                                                </e-columns>
                                            </ejs-grid>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </e-tabitem>
                        <e-tabitem *ngIf="sampleSuccessfulBool === true">
                            <ng-template #headerText>
                                <div>Shipment</div>
                            </ng-template>
                            <ng-template #content>
                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-8 col-lg-6 col-xl-4">
                                                    <ejs-datepicker id="shipmentDatepicker" [(value)]="record.shippedDate" [readonly]="true" placeholder="Shipped Date" floatLabelType="Always"></ejs-datepicker>
                                                </div>
                                                <div class="col-md-8 col-lg-6 col-xl-4">
                                                    <ejs-datepicker id="shipmentDatepicker" [(value)]="record.deliveryDate" [readonly]="true" placeholder="Delivery Date" floatLabelType="Always"></ejs-datepicker>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 col-lg-6 col-xl-4">
                                                    <ejs-textbox [(value)]="record.carrier" readonly placeholder="Carrier" floatLabelType="Always"></ejs-textbox>
                                                </div>
                                                <div class="col-md-8 col-lg-6 col-xl-4">
                                                    <ejs-textbox [(value)]="record.trackingNo" readonly placeholder="Tracking No" floatLabelType="Always"></ejs-textbox>
                                                </div>
                                            </div>
                                            <div class="row pad-t10 pad-b10">
                                                <div class="col-md-8 col-lg-6 col-xl-4">
                                                    <ejs-datepicker id="shipmentDatepicker" [(value)]="record.receivedDate" [readonly]="true" placeholder="Received Date" floatLabelType="Always"></ejs-datepicker>
                                                </div>  
                                                <div class="col-md-8 col-lg-6 col-xl-4">
                                                    <ejs-textbox [(value)]="record.receivedBy" readonly placeholder="Received By" floatLabelType="Always"></ejs-textbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </e-tabitem>
                    </e-tabitems>
                </ejs-tab>
            </div>
        </div>
    </div>

    <ejs-toast #toast></ejs-toast>
</div>

