<div id="edit-view" *ngIf="record" class="container-fluid">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fas fa-vial"></i></span>
            <span class="edit-header-title">Sample</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            
        </div>        
    </div>

    <div class="row pad-t10">
        <div class="col-md-3">
              <mat-form-field floatLabel="always" appearance="outline">
                  <mat-label>ReferenceNo</mat-label>
                <input [(value)]="record.referencerNo" matInput>
              </mat-form-field>
        </div>
        <div class="col-md-3">     
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Scheduled Date</mat-label>
                <input [(value)]="record.scheduledDate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Site</mat-label>
                <input [(value)]="record.site" matInput disabled>
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Location</mat-label>
                <input [(value)]="record.location" matInput disabled>
            </mat-form-field>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-12">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Logistics Vendor</mat-label>
                <input [(value)]="record.logisticVendor" matInput disabled>
            </mat-form-field>
        </div>
    </div>
                         
    <div class="row">
        <div class="col-md-3">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Collected By</mat-label>
              <input [(value)]="record.collectedBy" matInput>
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Collected Date</mat-label>
                <input [(value)]="record.collectedDate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>   

    <div class="row">
        <div class="col-md-3">        
            <ejs-numerictextbox [(value)]="record.volume" format='N1' min='0' max='500' step='1' placeholder="Volume" floatLabelType="Always"></ejs-numerictextbox>
        </div>
        <div class="col-md-3">
            <ejs-numerictextbox [(value)]="record.temperature" format='N1' min='-100' max='150' step='0.1' placeholder="Temperature" floatLabelType="Always"></ejs-numerictextbox>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <ejs-numerictextbox [(value)]="record.acidity" format='N1' min='0' max='14' step='0.1' placeholder="Acidity" floatLabelType="Always"></ejs-numerictextbox>
        </div>
        <div class="col-md-3">
            <ejs-numerictextbox [(value)]="record.humidity" format='N1' min='0' max='100' step='0.1' placeholder="Humidity" floatLabelType="Always"></ejs-numerictextbox>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-12">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Ship To Lab</mat-label>
                <input [(value)]="record.labVendor" matInput disabled>
            </mat-form-field>
        </div>
    </div>




    <div class="row">        
        <div class="col-md-3">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Shipped Date</mat-label>
                <input [(value)]="record.shippedDate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Tracking No</mat-label>
              <input [(value)]="record.trackingNo" matInput>
            </mat-form-field>
        </div>
    </div>  

    <div class="row pad-t20">
        <div class="col-md-3">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Received Date</mat-label>
                <input [(value)]="record.receivedDate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Received By</mat-label>
              <input [(value)]="record.receivedBy" matInput>
            </mat-form-field>
        </div>
    </div>  

    <div class="row pad-b20">
        <div class="col-md-3 d-flex align-items-end">   
            <div class="row">
                <div class="col-md-12">
                    <label for="sampleQc" class="edit-label">Sample QC Result</label>
                </div>
                <div class="col-md-12">
                    <mat-button-toggle-group id="sampleQc" disabled class="threeStateToggleBtn" [(value)]="record.qcpass">
                        <mat-button-toggle [value]="null">None</mat-button-toggle>
                        <mat-button-toggle [value]="true" [ngClass]="{ 'success-green': record.qcpass == true }">Pass</mat-button-toggle>
                        <mat-button-toggle [value]="false" [ngClass]="{ 'failure-red': record.qcpass == false }">Fail</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>   
        </div>
        <div class="col-md-3">
            <ejs-dropdownlist [dataSource]="record.qcFailureReasons" [fields]="{ text: 'name', value: 'id' }" [(value)]="record.qcfailureReasonId" placeholder="QC Failure Reason" floatLabelType="Always"></ejs-dropdownlist>
        </div>
    </div>
    
    <div class="row d-flex align-items-center edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/sample/list']">Close</button>
        </div>
    </div>
    <ejs-toast #toast></ejs-toast>
</div>