mat-form-field.mat-form-field {
    width: 100%;
  }

  #close{
      margin-left: 20px;
      width: 100%;
      background-color: rgba(128, 128, 128, 0.431);
  }

  #delete{
    width: 100%;
  } 

  #save{
      width: 100%;
  }