USER ADMIN

<h6 style="margin-top: 2em">Tenant:</h6>
<ejs-dropdownlist [dataSource]="tenantList" [fields]="{ text: 'name', id: 'id' }" [(value)]="tenant" (change)="changeTenant()" placeholder="Choose Tenant" [showClearButton]="true"></ejs-dropdownlist>

<h6 style="margin-top: 2em">Username:</h6>
<ejs-textbox [(value)]="username"></ejs-textbox>

<br />
<br />
<button ejs-button cssClass="e-outline" (click)="search()">Search</button>

<br />
<br />
<ejs-grid [dataSource]='list' [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }' [allowSorting]="true" [allowFiltering]="true" *ngIf="list">
    <e-columns>
        <e-column field='email' headerText='Username'></e-column>
        <e-column field='firstName' headerText='First Name'></e-column>
        <e-column field='lastName' headerText='Last Name'></e-column>
        <e-column width="300">
            <ng-template #template let-data>
                <a [routerLink]="['/user/edit', data.id]">edit</a>
            </ng-template>
        </e-column>
    </e-columns>
</ejs-grid>

<br />
<button ejs-button cssClass="e-outline" [routerLink]="['/user/add']">Add</button>
