<div id="list-view" class="container-fluid" *ngIf="form">
    <div class="row d-flex align-items-end">
        <div class="col d-flex align-items-end list-header">
            <span class="list-header-icon"><i class="fas fa-location"></i></span>
            <span class="list-header-title">Postalcode</span>
        </div>
    </div>
    <div class="row d-flex align-items-end list-content">
        <div class="col-3">
            <ejs-textbox [(value)]="form.name" placeholder="Name" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-1">
            <ejs-dropdownlist [dataSource]="appService.activeStates" [(value)]="form.active" [fields]="{ text: 'name', value: 'id' }" placeholder="Active" floatLabelType="Always" (change)="searchClick()"></ejs-dropdownlist>
        </div>
        <div class="col-3">
            <button ejs-button cssClass="e-primary search-button" iconCss="fal fa-search pad-r10" (click)="search()">Search</button>
        </div>
        <div class="col-12 pad-t20">
            <ejs-grid [dataSource]='list' [allowPaging]="true" [pageSettings]='form.pageSettings' [sortSettings]='form.sortSettings' [allowSorting]="true" [allowFiltering]="false" *ngIf="list" (actionComplete)='gridActionHandler($event)' #grid>
                <e-columns>
                    <e-column width="70">
                        <ng-template #template let-data>
                            <a [routerLink]="['../edit', data.id]" [state]="{ from: 'postalCode' }"><i class="fas fa-pencil-alt edit-icon"></i></a>
                        </ng-template>
                    </e-column>
                    <e-column field='code' headerText='Code'></e-column>
                    <e-column field='state' headerText='State'></e-column>
                    <e-column field='country' headerText='Country'></e-column>
                    <e-column field='landArea' headerText='LandArea'></e-column>
                    <e-column field='waterArea' headerText='WaterArea'></e-column>
                    <e-column field='population' headerText='Population'></e-column>
                    <e-column field='density' headerText='Density'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
</div>

