<div id="edit-view" *ngIf="record && form" [formGroup]="form" class="container-fluid">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fas fa-map-marked"></i></span>
            <span class="edit-header-title">County</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            
        </div>
    </div>

    <div class="row pad-t10">  
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox id="edit-state" [value]="record.name" formControlName="name"  placeholder="County Name *" floatLabelType="Always"></ejs-textbox>
            <div *ngIf="this.invalidControl('name')" class="e-error">
                County Name is required!
            </div>
        </div>

        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-dropdownlist [dataSource]="app.states" formControlName="stateId" [fields]="{ text: 'name', value: 'id' }" placeholder="State *" floatLabelType="Always"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('stateId')" class="e-error">
                State is required!
            </div>
        </div>        
    </div>

    <div class="row pad-t20">  
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox id="edit-state" [value]="record.fipsCode" maxlength="3" placeholder="Fips Code" floatLabelType="Always"></ejs-textbox>           
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox id="edit-geoId" [value]="record.geoId" maxlength="4" placeholder="Geo Id" floatLabelType="Always"></ejs-textbox>           
        </div>     
    </div>

    <div class="row pad-t10">
        <div class="col-md-12 col-lg-10 col-xl-8"><label for="boundaries" class="edit-label">Boundaries</label></div>
        <div class="col-md-12 col-lg-10 col-xl-8">
            <ejs-textbox id="boundaries" [multiline]='true' #default rows="3" [(value)]="record.boundaries"></ejs-textbox>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox [(value)]="record.latitude" readonly placeholder="Latitude" floatLabelType="Always" contenteditable="false"></ejs-textbox>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox [(value)]="record.longitude" readonly placeholder="Longitude" floatLabelType="Always" contenteditable="false"></ejs-textbox>
        </div>
    </div>

    <div class="row">  
        <div class="col-md-6 col-lg-5 col-xl-4">           
            <ejs-numerictextbox [(value)]="record.landArea" format='N'  step='1' placeholder="Land Area" floatLabelType="Always"></ejs-numerictextbox>
        </div>  
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-numerictextbox [(value)]="record.waterArea" format='N'  step='1' placeholder="Water Area" floatLabelType="Always"></ejs-numerictextbox>
        </div>   
    </div>

    <div class="row pad-t20"> 
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox id="edit-state" [value]="record.dwellings" placeholder="Dwellings" floatLabelType="Always"></ejs-textbox>
        </div> 
    </div>
    <div class="row pad-b20">  
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-numerictextbox [(value)]="record.population" format='N'  step='1' placeholder="Population" floatLabelType="Always"></ejs-numerictextbox>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-numerictextbox [(value)]="record.density" validateDecimalOnType="true" format='N4' id="numeric" max="99999" [decimals]="4" maxlength="5" step ="0.0001" placeholder="Population Density" floatLabelType="Always"></ejs-numerictextbox>
        </div>
    </div>

    <div class="row d-flex edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/auth/county/list']" [state]='{ formState: true }'>Close</button>
        </div>
    </div>
    
    <ejs-toast #toast></ejs-toast>
</div>

