<div id="edit-view" *ngIf="record" class="container-fluid">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fas fa-temperature-hot"></i></span>
            <span class="edit-header-title">Test Type</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">

        </div>
    </div>

    <div class="row pad-t10">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox [(value)]="record.name" required placeholder="Name*" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox [(value)]="record.code" required placeholder="Code*" floatLabelType="Always" maxlength="10"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-t10 pad-b20">
        <div class="col-md-12 col-lg-10 col-xl-8"><label for="description" class="edit-label">Description*</label></div>
        <div class="col-md-12 col-lg-10 col-xl-8">
            <ejs-textbox id="description" [multiline]='true' #default rows="2" required [(value)]="record.description"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-t10 pad-b20">
        <div class="col-md-12 col-lg-10 col-xl-8"><label for="roles-grid" class="edit-label">Analytes</label></div>
        <div class="col-md-12 col-lg-10 col-xl-8">
            <ejs-grid id="roles-grid" #grid [dataSource]='record.analytes' class="edit-grid">
                <e-columns>
                    <e-column field='name' headerText='Name'></e-column>

                    <e-column headerText='' width="100">
                        <ng-template #template let-data>
                            <ejs-checkbox [(checked)]="record.analytes[data.index].checked"></ejs-checkbox>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>

    <div class="row d-flex edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>

        <div class="col-md-6 d-flex justify-content-end button-top-padding">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/auth/testtype/list']">Close</button>
        </div>
    </div>
    <ejs-toast #toast></ejs-toast>
</div>

