<div class="pad-20" *ngIf="list" [formGroup]="form">
    <div class="row d-flex align-items-center email-header">
        <div class="col-md-9 d-flex align-items-center">
            <span class="email-header-icon"><i class="fas fa-envelope"></i></span>
            <span class="email-header-title">Email</span>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <span class="list-actions" id="close"><button ejs-button cssClass="e-flat email-close-button" iconCss="fas fa-times" (click)="close()"></button></span>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-12">
            <ejs-textbox placeholder="From" floatLabelType="Always" [value]="app.email" [readonly]="true"></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <ejs-textbox placeholder="To" floatLabelType="Always" multiline='true' [value]="list.length + ' recipients'" [readonly]="true"></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <ejs-textbox placeholder="Subject" floatLabelType="Always" multiline='true' formControlName="subject"></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <ejs-textbox placeholder="Body" floatLabelType="Always" multiline='true' rows="8" formControlName="body"></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <button ejs-button cssClass="e-primary" iconCss="fal fa-paper-plane" style='width:150px;' (click)="sendEmail()">Send Email</button>
        </div>
    </div>
</div>

<ejs-toast #toast></ejs-toast>
