<div class="pad-20">
    <div class="row d-flex align-items-end">
        <div class="col-md-6 d-flex align-items-end list-header">
            <span class="list-header-icon"><i class="fas fa-envelope"></i></span>
            <span class="list-header-title">Email</span>
        </div>
        <div class="col-md-6 d-flex align-items-end justify-content-end list-header">
            <span class="list-actions" id="close"><button ejs-button cssClass="e-outline" iconCss="fas fa-times"></button></span>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-12">
            <ejs-textbox placeholder="From" floatLabelType="Always" disabled></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <ejs-textbox placeholder="To" floatLabelType="Always" multiline='true'></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <ejs-textbox placeholder="Subject" floatLabelType="Always" multiline='true'></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pad-t10">
            <ejs-textbox placeholder="Body" floatLabelType="Always" multiline='true' rows="8"></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pad-t10">
            <button ejs-button cssClass="e-primary" iconCss="fal fa-paper-plane" style='width:130px;'>Send Email</button>
        </div>
    </div>
</div>