<div id="edit-view" *ngIf="record && form" class="container-fluid" [formGroup]="form">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fas fa-temperature-hot"></i></span>
            <span class="edit-header-title">Analyte</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">

        </div>
    </div>

    <div class="row pad-t10">        
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox formControlName="name" placeholder="Name *" floatLabelType="Always" required></ejs-textbox>
            <div *ngIf="this.invalidControl('name')" class="e-error">
                Name is required!
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox formControlName="code" placeholder="Code *" floatLabelType="Always" required></ejs-textbox>
            <div *ngIf="this.invalidControl('code')" class="e-error">
                Code is required!
            </div>
        </div> 
    </div>
    <div class="row"> 
        <div class="col-md-12 col-lg-10 col-xl-8">
            <ejs-textbox formControlName="description" placeholder="Description *" floatLabelType="Always" required></ejs-textbox>
            <div *ngIf="this.invalidControl('description')" class="e-error">
                Description is required!
            </div>
        </div>  
    </div>

    <div class="row pad-t20">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox formControlName="resultUnits" placeholder="Result Units *" floatLabelType="Always" required></ejs-textbox>
            <div *ngIf="this.invalidControl('resultUnits')" class="e-error">
                Result Units is required!
            </div>
        </div>
    </div>

    <div class="row pad-t20">    
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-numerictextbox [value]="record.minValue" format='N1' min='0' max='500' step='1' placeholder="Min Value" floatLabelType="Always"></ejs-numerictextbox>                
        </div>    
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-numerictextbox [value]="record.maxValue" format='N1' min='0' max='500' step='1' placeholder="Max Value" floatLabelType="Always"></ejs-numerictextbox>           
        </div>
    </div>

    <div class="row pad-b20">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-numerictextbox [value]="record.lowThreshold" format='N1' min='0' max='500' step='1' placeholder="Low Threshold" floatLabelType="Always"></ejs-numerictextbox>            
        </div>  
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-numerictextbox [value]="record.highThreshold" format='N1' min='0' max='500' step='1' placeholder="High Threshold" floatLabelType="Always"></ejs-numerictextbox>           
        </div> 
    </div>

    <div class="row d-flex align-items-center edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/auth/analyte/list']" [state]='{ formState: true }'>Close</button>
        </div>
    </div>

    <ejs-toast #toast></ejs-toast>
</div>

