<div id="list-view" class="container-fluid" *ngIf="data.customers">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-flex align-items-center list-header">
            <span class="list-header-icon"><i class="fas fa-tachometer-alt"></i></span>
            <span class="list-header-title">Dashboard</span>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end list-header">
            <span class="list-actions" id="mail"><button ejs-button cssClass="e-outline" iconCss="fas fa-envelope" (click)="sendEmail()"></button></span>
            <span class="list-actions"><button ejs-button cssClass="e-outline" iconCss="fad fa-download" (click)="export()"></button></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3">
            <ejs-dropdownlist [dataSource]='data.customers' [fields]="{ text: 'name', value: 'id' }" [(value)]="customerId" placeholder="Customer" floatLabelType="Always" (change)="customerChange()"></ejs-dropdownlist>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
            <ejs-multiselect [dataSource]='sites' [fields]="{ text: 'name', value: 'id' }" [(value)]="selectedSites" [mode]='mode' [placeholder]='placeholder' floatLabelType="Always" showClearButton='false' showSelectAll='true' showDropDownIcon='true' (change)="siteChange()"></ejs-multiselect>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2">
            <ejs-dropdownlist [dataSource]='data.analytes' [fields]="{ text: 'name', value: 'id' }" [(value)]="analyteId" placeholder="Analyte" floatLabelType="Always" (change)="analyteChange()"></ejs-dropdownlist>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-2">
            <ejs-daterangepicker placeholder='Select a range' floatLabelType="Always" [(startDate)]='startDate' [(endDate)]='endDate' (change)="dateRangeChange()"></ejs-daterangepicker>
        </div>
    </div>

    <div class="row pad-t20">
        <div class="col-md-12 col-lg-11 col-xl-10">
            <ejs-dashboardlayout id="default_dashboard" width="100%" [allowDragging]='allowDragging' [columns]="12" #editLayout [cellSpacing]='cellSpacing' [cellAspectRatio]='cellAspectRatio'>
                <e-panels>
                    <e-panel [sizeX]="12" [sizeY]="2" [row]="0" [col]="0">
                        <ng-template #content>
                            <div class="col-12">
                                <ejs-slider id='square_slider' [type]="default" [min]="sliderMin" [max]="sliderMax" [value]="sliderValue" [step]="sliderStep" [tooltip]="sliderTooltipData" [ticks]="sliderTicksData" [showButtons]=true
                                            (tooltipChange)='tooltipChangeHandler($event)' (renderingTicks)='renderingTicksHandler($event)' (changed)='onSliderChanged($event)'></ejs-slider>
                            </div>
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="4" [sizeY]="2" [row]="2" [col]="0">
                        <ng-template #content>
                            <div class="col-12">
                                <p style="text-align:center;">Our Positive Tests</p>
                                <div style="text-align:center">
                                    <table width="100%">
                                        <tr>
                                            <td class="tilearrow" width="30%">
                                                <span class="fas fa-long-arrow-alt-right" [ngClass]="displaySummary.customerDailyChange  > 0 ? 'tileArrowUp' : displaySummary.customerDailyChange  < 0 ? 'tileArrowDown' : 'tileArrowRight'"></span>
                                            </td>
                                            <td class="tilevalue" width="40%">
                                                {{displaySummary.customerDailyTests}}
                                            </td>
                                            <td class="tilechange" width="30%">
                                                {{displaySummary.customerDailyChange}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="4" [sizeY]="2" [row]="2" [col]="4">
                        <ng-template #content>
                            <div class="col-12">
                                <p style="text-align:center;">County Positive Tests</p>
                                <div style="text-align:center">
                                    <table width="100%">
                                        <tr>
                                            <td class="tilearrow" width="30%">
                                                <span class="fas fa-long-arrow-alt-right" [ngClass]="displaySummary.countyDailyChange    > 0 ? 'tileArrowUp' : displaySummary.countyDailyChange  < 0 ? 'tileArrowDown' : 'tileArrowRight'"></span>
                                            </td>
                                            <td class="tilevalue" width="40%">
                                                {{displaySummary.countyDailyCases}}
                                            </td>
                                            <td class="tilechange" width="30%">
                                                {{displaySummary.countyDailyChange}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="4" [sizeY]="2" [row]="2" [col]="8">
                        <ng-template #content>
                            <div class="col-12">
                                <p style="text-align:center;">State Positive Tests</p>
                                <div style="text-align:center">
                                    <table width="100%">
                                        <tr>
                                            <td class="tilearrow" width="30%">
                                                <span class="fas fa-long-arrow-alt-right" [ngClass]="displaySummary.stateDailyChange   > 0 ? 'tileArrowUp' : displaySummary.stateDailyChange  < 0 ? 'tileArrowDown' : 'tileArrowRight'"></span>
                                            </td>
                                            <td class="tilevalue" width="40%">
                                                {{displaySummary.stateDailyCases}}
                                            </td>
                                            <td class="tilechange" width="30%">
                                                {{displaySummary.stateDailyChange}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="12" [sizeY]="6" [row]="5" [col]="0">
                        <ng-template #content>
                            <google-map id="dashboard-map"></google-map>
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="12" [sizeY]="6" [row]="11" [col]="0">
                        <ng-template #header>
                            <div>Positive vs Negative Locations</div>
                        </ng-template>
                        <ng-template #content>
                            <ejs-chart id="chartPositiveNegativeCases" class="dashboard-chart" [primaryXAxis]='primaryXAxis' #chartPositiveNegativeCases [tooltip]='tooltip'>
                            </ejs-chart>
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="6" [sizeY]="5" [row]="17" [col]="0">
                        <ng-template #header>
                            <div>Daily Positive Locations</div>
                        </ng-template>
                        <ng-template #content>
                            <ejs-chart id="chartPositiveCases" class="dashboard-chart" [primaryXAxis]='primaryXAxis' #chartPositiveCases [palettes]='redColorPalette' [tooltip]='tooltip'>
                            </ejs-chart>
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="6" [sizeY]="5" [row]="17" [col]="6">
                        <ng-template #header>
                            <div>Positive Locations by Site</div>
                        </ng-template>
                        <ng-template #content>
                            <ejs-chart id="chartPositiveSites" class="dashboard-chart" [primaryXAxis]='primaryXAxis' #chartPositiveSites [tooltip]='tooltip'>
                            </ejs-chart>
                        </ng-template>
                    </e-panel>
                </e-panels>
            </ejs-dashboardlayout>
        </div>
    </div>

</div>
