<div id="list-view" class="container-fluid" *ngIf="customers">
    <div class="row">
        <div class="col-md-3">
            <ejs-dropdownlist [dataSource]="customers" [fields]="{ text: 'name', value: 'id' }" [(value)]="customerId" placeholder="Customer" floatLabelType="Always" (change)="customerChange()"></ejs-dropdownlist>
        </div>
        <div class="col-md-3">
            <ejs-multiselect [dataSource]='sites' [fields]="{ text: 'name', value: 'id' }" [(value)]="selectedSites" [mode]='mode' [placeholder]='placeholder' floatLabelType="Always" showClearButton='false' showSelectAll='true' showDropDownIcon='true' (change)="setGraphData('siteChange')"></ejs-multiselect>
        </div>
        <div class="col-md-3">
            <ejs-dropdownlist [dataSource]="app.analytes" [fields]="{ text: 'name', value: 'id' }" [(value)]="analyteId" placeholder="Analyte" floatLabelType="Always" (change)="analyteChange()"></ejs-dropdownlist>
        </div>
        <div class="col-md-3">
            <ejs-daterangepicker placeholder='Select a range' floatLabelType="Always" [(startDate)]='startDate' [(endDate)]='endDate' (change)="dateRangeChange()"></ejs-daterangepicker>
        </div>
    </div>    

    <div class="row pad-t20">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <ejs-dashboardlayout id="default_dashboard" width="100%" [allowDragging]='allowDragging' [columns]="12" #editLayout [cellSpacing]='cellSpacing' [cellAspectRatio]='cellAspectRatio'>
                <e-panels>    
                    <e-panel [sizeX]="12" [sizeY]="2" [row]="0" [col]="0">
                        <ng-template #content>
                            <div class="col-12">
                                <ejs-slider id='square_slider' [type]="default" [min]="sliderMin" [max]="sliderMax" [value]="sliderValue" [step]="sliderStep" [tooltip]="sliderTooltipData" [ticks]="sliderTicksData" [showButtons]=true
                                (tooltipChange)='tooltipChangeHandler($event)' (renderingTicks)='renderingTicksHandler($event)' (changed)='onSliderChanged($event)'></ejs-slider>
                            </div>                             
                        </ng-template>
                    </e-panel>                 
                    <e-panel [sizeX]="12" [sizeY]="6" [row]="2" [col]="0">
                        <ng-template #content>     
                                <google-map id="dashboard-map"></google-map>                            
                        </ng-template>
                    </e-panel>                                    
                    <e-panel [sizeX]="12" [sizeY]="5" [row]="8" [col]="0">
                        <ng-template #header>
                            <div>Daily Positive Locations</div>
                        </ng-template>
                        <ng-template #content>                         
                            <ejs-chart id="chartPositiveCases" class="dashboard-chart" [primaryXAxis]='primaryXAxis' #chartPositiveCases [palettes]='redColorPalette'>
                            </ejs-chart>                           
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="6" [sizeY]="5" [row]="13" [col]="0">
                        <ng-template #header>
                            <div>Positive Locations by Site</div>
                        </ng-template>
                        <ng-template #content>                         
                                <ejs-chart id="chartPositiveSites" class="dashboard-chart" [primaryXAxis]='primaryXAxis' #chartPositiveSites>                                  
                                </ejs-chart>                           
                        </ng-template>
                    </e-panel>
                    <e-panel [sizeX]="6" [sizeY]="5" [row]="13" [col]="6">
                        <ng-template #header>
                            <div>Positive vs Negative Locations</div>
                        </ng-template>
                        <ng-template #content>                         
                            <ejs-chart id="chartPositiveNegativeCases" class="dashboard-chart" [primaryXAxis]='primaryXAxis' #chartPositiveNegativeCases>
                            </ejs-chart>                         
                        </ng-template>
                    </e-panel>
                </e-panels>
            </ejs-dashboardlayout>
        </div>
    </div>

<!--  
    <div class="row d-flex pad-t20" visible="false">
        <div class="col-md-12 d-flex">
            <ejs-tab id="edit-tab" class="e-fill" (selected)="setGraphData('tabSelected')" #tab>
                <e-tabitems>
                    <e-tabitem>
                        <ng-template #headerText>
                            <div>Site Map</div>
                        </ng-template>
                        <ng-template #content>
                            <div id="list-view" class="container-fluid pad-t20">    
                                
                            </div>
                        </ng-template>
                    </e-tabitem>                   

                    <e-tabitem>
                        <ng-template #headerText>
                            <div>Positive Locations</div>
                        </ng-template>
                        <ng-template #content>
                            <div id="list-view" class="container-fluid pad-t20">
                                <div class="row pad-t20">
                                    <div class="col-md-12">
                                       
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </e-tabitem>

                    <e-tabitem>
                        <ng-template #headerText>
                            <div>Positive vs Negative Locations</div>
                        </ng-template>
                        <ng-template #content>
                            <div id="list-view" class="container-fluid pad-t20">
                                <div class="row pad-t20">
                                    <div class="col-md-12">
                                        <ejs-dashboardlayout [allowDragging]='allowDragging' [columns]="2" #editLayout [cellSpacing]='cellSpacing' [cellAspectRatio]='cellAspectRatio'>
                                            <e-panels>
                                                <e-panel [sizeX]="2" [sizeY]="2" [row]="1" [col]="0">
                                                    <ng-template #header>
                                                        <div>Positive vs Negative Locations - Daily Counts</div>
                                                    </ng-template>
                                                    <ng-template #content>
                                                        <div>
                                                            
                                                        </div>
                                                    </ng-template>
                                                </e-panel>
                                            </e-panels>
                                        </ejs-dashboardlayout>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </e-tabitem>              
                </e-tabitems>
            </ejs-tab>
        </div>
    </div>
-->

</div>
