#default_dashboard {
    padding: 10px;
    box-sizing: border-box;
}

#default_dashboard.e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-header {
    padding: 20px;
    font-weight: 600;
    font-size: 1.2em;
}
#default_dashboard.e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-content {
    padding: 10px;
}

#default_dashboard.e-dashboardlayout.e-control .e-panel:hover .e-close-icon {
    display: block;
}

#default_dashboard .e-panel .e-panel-container .text-align {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

#default_dashboard.e-dashboardlayout.e-control .e-panel .e-template-icon {
    padding: 10px;
    float: right;
    display: none;
}

#default_dashboard{
    display: block;
  }

#default_dashboard.e-dashboardlayout.e-control .e-panel .e-close-icon::before {
    content: '\e100';
    font-size: 12px;
    font-family: 'ej-icon';
}

@font-face {
    font-family: 'ej-icon';
    src:
    url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAAKAIAAAwAgT1MvMjdtQ/IAAAEoAAAAVmNtYXDhEOFVAAABiAAAADZnbHlmq8jV4gAAAcgAAAFQaGVhZBSREIsAAADQAAAANmhoZWEIUAQDAAAArAAAACRobXR4CAAAAAAAAYAAAAAIbG9jYQCoAAAAAAHAAAAABm1heHABDQCUAAABCAAAACBuYW1lWD3y/QAAAxgAAAIlcG9zdMl9cHoAAAVAAAAALwABAAAEAAAAAFwEAAAAAAAD8wABAAAAAAAAAAAAAAAAAAAAAgABAAAAAQAAjGeuW18PPPUACwQAAAAAANi/5c0AAAAA2L/lzQAAAAAD8wP0AAAACAACAAAAAAAAAAEAAAACAIgAAQAAAAAAAgAAAAoACgAAAP8AAAAAAAAAAQQAAZAABQAAAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABA4QDhAAQAAAAAXAQAAAAAAAABAAAAAAAABAAAAAQAAAAAAAACAAAAAwAAABQAAwABAAAAFAAEACIAAAAEAAQAAQAA4QD//wAA4QD//wAAAAEABAAAAAEAAAAAAAAAqAAAAAEAAAAAA/MD9ACHAAAJAi8GKwEPDR0BHwYJAQ8GHQEfDTsBPwYJAR8GOwE/Di8HCQE/Bj0BLw0rAQ8FA3T+jP6MBQYHBgcHCAcHBwcHBwYGBgUFAwMDAgEBAgMDAwUFAXT+jAUFAwMDAgEBAgMDAwUFBgYGBwcHBwcHBwgGBwYHBQF0AXQFBgcGBwcIBwcHBwcHBgYGBQQEAwMBAQEBAQEDAwQEBf6MAXQFBQMDAwIBAQIDAwMFBQYGBgcHBwcHBwgHBwYHBgPe/owBdAUFAwMDAgEBAgMDAwUFBgYGBwcHBwcHCAcGBwYHBf6M/owFBwYHBgcIBwcHBwcHBgYGBQUDBAICAQECAgQDBQUBdP6MBQUDBAICAQECAgQDBQUGBgYHBwcHBwcIBwYHBgcFAXQBdAYGBgcHBwcHBwcHBwcGBgYFBQMEAgIBAQIDAwMFAAAAEgDeAAEAAAAAAAAAAQAAAAEAAAAAAAEABwABAAEAAAAAAAIABwAIAAEAAAAAAAMABwAPAAEAAAAAAAQABwAWAAEAAAAAAAUACwAdAAEAAAAAAAYABwAoAAEAAAAAAAoALAAvAAEAAAAAAAsAEgBbAAMAAQQJAAAAAgBtAAMAAQQJAAEADgBvAAMAAQQJAAIADgB9AAMAAQQJAAMADgCLAAMAAQQJAAQADgCZAAMAAQQJAAUAFgCnAAMAAQQJAAYADgC9AAMAAQQJAAoAWADLAAMAAQQJAAsAJAEjIGVqLWljb25SZWd1bGFyZWotaWNvbmVqLWljb25WZXJzaW9uIDEuMGVqLWljb25Gb250IGdlbmVyYXRlZCB1c2luZyBTeW5jZnVzaW9uIE1ldHJvIFN0dWRpb3d3dy5zeW5jZnVzaW9uLmNvbQAgAGUAagAtAGkAYwBvAG4AUgBlAGcAdQBsAGEAcgBlAGoALQBpAGMAbwBuAGUAagAtAGkAYwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGUAagAtAGkAYwBvAG4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAdQBzAGkAbgBnACAAUwB5AG4AYwBmAHUAcwBpAG8AbgAgAE0AZQB0AHIAbwAgAFMAdAB1AGQAaQBvAHcAdwB3AC4AcwB5AG4AYwBmAHUAcwBpAG8AbgAuAGMAbwBtAAAAAAIAAAAAAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgECAQMABWNsb3NlAAAA) format('truetype');
    font-weight: normal;
    font-style: normal;
}

#default_dashboard .text-align {
    line-height: 160px;
}

#default_dashboard.e-dashboardlayout.e-control .e-panel .e-close-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
}
.dashboard-chart
{
    width: 100% !important;
    height: 100% !important;
    display: block;
    box-sizing: border-box;
}

.map-container
{
    overflow:hidden;
    position:relative;
    height:100%;
    width: 100%;
}
#dashboard-map
{
    left:0;
    top:0;
    width:100%;
    height: 100%;
    position:absolute;
}
#dashboard-map div.map-container
{
    width:100%!important;
    height:100%!important;
}
/* Slider customization *********************************/
  #square_slider .e-handle {
    border-radius: 0;
    background-color: #f9920b;
    border: 0;
    width: 20px;
    height: 20px;
  }
.tilevalue{
    font-size: 40px;
    padding-right: 40px;
    text-align:center;
    
}
.tilearrow{
    font-size: 30px;
    padding-left: 10px;
    text-align:left;
    
    
}
.tilechange{
    font-size: 12px;
    padding-right: 10px;
    text-align:right;
    color: #999999;
    
}
.tileArrowUp{
  
    transform: rotate(45deg);
    color: red;

}

.tileArrowPositive{
  
    transform: rotate(45deg);
    color: red;

}

.tileArrownegative{
  
    transform: rotate(45deg);
    color: red;

}

.tileArrowDown{
    
    transform: rotate(135deg);
    color: green;
}

.tileArrowMiddle{
   
    transform: rotate(180deg);
    color: gray;

.bottom{
    position:absolute;                 
    bottom:0;                         
    left:0px; 
}

}

   