<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>REMAPP</title>
        <base href="/" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>

    <div id="splash-view">
        <div class="productInfo">
            <span class="productName">REMAPP</span>
            <span class="productDescription">Surveillance of Wastewater & Prevention Platform</span>
        </div>
        
        <div>        
            <ejs-dashboardlayout id="login-features" [allowDragging]='false' [allowResizing]='false' [columns]="5" [rows]="2">
                <e-panels>
                    <e-panel [row]="0" [col]="0" cssClass="feature-panel">
                        <ng-template #content>
                            <div class="panel-icon">
                                <i class="fal fa-vial"></i>                              
                            </div>
                            <div class="panel-header">
                                Collect                               
                            </div>
                            <div class="panel-content">
                                Manage sample scheduling, collection, & shipments
                            </div>           
                        </ng-template>
                    </e-panel>
                    <e-panel [row]="0" [col]="1">
                        <ng-template #content>
                            <div class="panel-icon">
                                <i class="fal fa-chart-network"></i>                            
                            </div>
                            <div class="panel-header">
                                Collaborate                               
                            </div>
                            <div class="panel-content">
                                Integrate & automate data exchange with testing labs
                            </div>   
                        </ng-template>
                    </e-panel>
                    <e-panel [row]="0" [col]="2">
                        <ng-template #content>
                            <div class="panel-icon">
                                <i class="fal fa-tachometer-alt"></i>                             
                            </div>
                            <div class="panel-header">
                                Surveil                               
                            </div>
                            <div class="panel-content">
                                Surveil & track status through real-time dashboards
                            </div>   
                        </ng-template>
                    </e-panel>
                    <e-panel [row]="0" [col]="3" [sizeX]="2" [sizeY]="2" >
                        <ng-template #content>  
                            <div class="panel-header pad-t20">
                                Log into REMAPP                             
                            </div>
                            <div class="panel-content pad-t20">
                                <span *ngIf="!appService.isLoggedIn">
                                    <button ejs-button id="login-button" cssClass="e-primary" [routerLink]="['/auth']" iconCss='fal fa-sign-in-alt btn-icon'> Log In</button> 
                                </span>

                                <span *ngIf="appService.isLoggedIn">
                                    <button ejs-button id="login-button" cssClass="e-primary" [routerLink]="['/auth']" iconCss='fal fa-sign-in-alt btn-icon'> Home Page</button>                                     
                                </span>  
                                <span class="login-panel-action pad-t20">
                                    <p><a href="https://interome.com/contact">Need an account?</a></p>                                    
                                </span>                              
                            </div>                                                     
                        </ng-template>
                    </e-panel>
                    <e-panel [row]="1" [col]="0">
                        <ng-template #content>
                            <div class="panel-icon">
                                <i class="fal fa-bells"></i>                              
                            </div>
                            <div class="panel-header">
                                Communicate                              
                            </div>
                            <div class="panel-content">
                                Send automated alerts & notifications based on key data points
                            </div>   
                        </ng-template>
                    </e-panel>
                    <e-panel [row]="1" [col]="1">
                        <ng-template #content>
                            <div class="panel-icon">
                                <i class="fal fa-object-group"></i>                          
                            </div>
                            <div class="panel-header">
                                Aggregate                              
                            </div>
                            <div class="panel-content">
                                Aggregate demographic, environmental, and other public data
                            </div>   
                        </ng-template>
                    </e-panel>
                    <e-panel [row]="1" [col]="2">
                        <ng-template #content>
                            <div class="panel-icon">
                                <i class="fal fa-analytics"></i>                            
                            </div>
                            <div class="panel-header">
                                Analyze                              
                            </div>
                            <div class="panel-content">
                                Run advanced analytics via multi-omic, explanatory, & predictive modeling
                            </div>   
                        </ng-template>
                    </e-panel>
                </e-panels>
            </ejs-dashboardlayout>
        </div>
    </div>
</body>
</html>




