/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Public Sans", "Segoe UI", "Helvetica Neue", Helvetica,  sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: #f1f5f9;
    background-image: url("../../assets/login-bg.jpg");
    background-size: 100%; 
    background-size: cover; 
    font-size: 12px;
    background-position-x:center;
}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

#splash-view
{
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px 20px 20px;
}

#splash-view div.productInfo
{
    text-align: center;
}
#splash-view span.productName
{
    font-size: 2.0em;
    font-weight: bold;
    display: block;
    clear: both;
}
#splash-view span.productDescription
{
    font-size: 1.2em;
    display: block;
    clear: both;
    padding-bottom: 20px;
}