<div id="edit-view" *ngIf="tenantList" class="container-fluid">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fas fa-university"></i></span>
            <span class="edit-header-title">Tenant</span>
        </div>       
    </div>

    <div class="row pad-t20">
        <div class="col-md-6">
            <ejs-dropdownlist [dataSource]="tenantList" [fields]="{ text: 'name', value: 'id' }" [(value)]="appRepository.tenantId" (change)="changeTenant()" placeholder="Choose Tenant"></ejs-dropdownlist>
        </div>
    </div>    
</div>
