<div class="control-section">
  <div id="wrapper">
      <div class="col-lg-12 col-sm-12 col-md-12" id="sidebar-section">
          <!--end of header-section  declaration -->
          <!-- sidebar element declaration -->
              <ejs-sidebar id="sidebar-menu" class="dock-menu" #sidebarMenuInstance [enableDock]='enableDock' [width]='width' [dockSize]='dockSize' [mediaQuery]='mediaQuery' [target]='target'>
                  <div class="app-name">SWAP</div>
                  <div class="main-menu">
                      <!-- Menu element declaration -->
                      <ejs-menu [items]='menuItems' orientation='Vertical' cssClass='dock-menu' (select)='selectMainMenu($event)'></ejs-menu>
                  </div>
              </ejs-sidebar>
              
          <!-- end of sidebar element -->
            <!--header-section  declaration -->
         
          <!-- main-content declaration -->
          <div class="main-content" id="maintext">             
              <div class="sidebar-menu-content">
                  <div class="header-section" id="header">
                      <ul class="header-list">
                          <li id="hamburger" class="icon-menu icon list" (click)="openClick()">Tenant Name</li>                       
                          <li class="right-header list">
                              <div class="horizontal-menu">
                                  <!-- Menu element declaration -->
                                  <ejs-menu [items]='AccountMenuItem' (select)='selectAccountMenu($event)'></ejs-menu>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="content-section">
                      <router-outlet></router-outlet>
                  </div>
                  
              </div>
          </div>
          <!-- end of main-content -->
      </div>
  </div>
</div>
