:root {
    --headerbgclr: #1976d2;
    --headertxtclr: #ffffff;
    --menubgclr: #2f3344;
    --menubgclrhlt: #1976d2;
    --menutxtclr: #ffffff;
    --menutxtclrhlt: #ffffff;
    --menuiconclr: #ffffff;
    --appnamebgclr: #1b1d27;
}
/*--menubgclr: #2b303b*/
/*--menubgclrhlt: #303948;*/
/* usage:  var(--menuiconclr) */
/* menubgclr: #333333; --menuiconclr: #3d9eff; */
/* menubgclr: #101b33; --menuiconclr: #3d9eff; */
/* menubgclr: #313644; --menuiconclr: #0f9aee; */
/* menubgclr:  #2d323e; --menuiconclr:  rgb(4, 144, 244); */

/*
@media(max-width:500px) {
    #header .right-header.list.support,
    #header .right-header.list.tour {
        display: none;
    }
}*/

/* header-section styles **********************************************/
#header.header-section {
    height: 50px;
    background-color: var(--headerbgclr);
    color: var(--headertxtclr);
    padding-top: 10px;
    width: 100%;
}

#header.header-section div {
    display: inline-block;
}

#header div.hamburger {
    font-size: 1.1em;
    margin-left: 20px;
}

#hamburger {
    cursor: pointer;
}

#header div.tenant-name {
    font-size: 1.1em;
    padding-left: 10px;
}

#header div.account-menu {
    float: right;
}

#header div.account-menu button {
    color: #ffffff;
    border-width: 0px;
    background-color: transparent;
    font-size:0.9em;
}

#header div.account-menu button span.e-icon-left {
    font-size: 0.8em;
    padding-right: 5px;
}

#header div.account-menu button span.e-icon-right {
    padding-left: 10px;
}
/* end - header-section styles ********************************/

/* sidebar menu styles ****************************************/
#sidebar-section {
    padding: 0px;
}

#sidebar-section .no-padding {
    padding: 0px;
}

#sidebar-menu {
    margin-top: 0px;
    margin-left:0px;
    border-radius: 0px;
    box-sizing: border-box;    
    background-color: var(--menubgclr);
    border-width:0px;
    position: fixed;
    overflow: hidden;
}

#sidebar-menu .app-name {
    color: #ffffff;
    opacity: 0.8;
    text-align: center;
    padding: 15px 5px 15px 5px;
    background-color: var(--appnamebgclr);
    height: 50px;
    box-sizing: border-box;
}

#sidebar-menu .e-menu-wrapper ul {
    width: 180px;
    background-color: var(--menubgclr);
}

#sidebar-menu.dock-menu .e-menu-wrapper ul .e-menu-item .e-menu-icon
{
    margin-left:5px;
    width:30px;
    margin-bottom:2px;
}

#sidebar-menu.dock-menu .e-menu-wrapper ul .e-menu-item,
#sidebar-menu.dock-menu .e-menu-wrapper ul .e-menu-item .e-caret {
    color: var(--menutxtclr);
}

#sidebar-menu .e-menu-wrapper ul .e-menu-item:hover,
#sidebar-menu .e-menu-wrapper ul .e-menu-item.e-focused,
#sidebar-menu .e-menu-container ul .e-menu-item.e-focused,
#sidebar-menu .e-menu-wrapper ul .e-menu-item.e-selected,
#sidebar-menu .e-menu-container ul .e-menu-item.e-selected
{
    background-color: var(--menubgclrhlt);
}

#sidebar-menu.dock-menu .e-menu-icon::before {
    color: var(--menuiconclr);
    opacity: 0.7;
}

#sidebar-menu.dock-menu .e-menu-wrapper,
#sidebar-menu.dock-menu .e-menu-wrapper ul > *
{
    overflow: hidden;
    background-color: var(--menubgclr);
    color: var(--menutxtclr);
}

.e-menu-wrapper.e-menu-popup,
.e-menu-container.e-menu-popup {
    border-radius: 0px 10px 0px 0px;
    background-color: var(--menubgclr);
    margin-left: 0px;
}

.e-menu-popup .e-menu-item {
    background-color: var(--menubgclr);
    color: var(--menutxtclr);
    opacity: 0.9;
    padding-left:20px!important;
    padding-right:20px!important;
}

.e-menu-popup .e-menu-item:hover {
    background-color: var(--menubgclrhlt)!important;
    color: var(--menutxtclr)!important;
}

.e-menu-popup ul .e-menu-item:first-child {
    padding-top:7px;
    height:42px;
}

.e-menu-popup ul .e-menu-item:not(:last-child) {
    border-bottom: 1px solid #303948;
}

.dock-menu.e-close .e-menu-wrapper ul .e-menu-item {
    width: 70px;
    height:60px;
    vertical-align:middle;
    text-align:center;
    padding:10px;
    font-size: 0px;
}

.dock-menu.e-close ul .e-menu-item.e-menu-icon {
    width: 60px;
    height: 60px;
}

#sidebar-menu.e-dock.e-close .e-menu-wrapper ul .e-menu-item .e-caret,
#sidebar-menu.e-dock.e-close .main-menu-header,
#sidebar-menu.e-dock.e-close .action-btn {
    display: none;
}

#sidebar-menu.e-dock.e-close .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon,
#sidebar-menu.e-dock.e-close .e-menu-wrapper ul.e-vertical {
    min-width: 0;
    width: 70px !important;
    text-align: center;
}

#sidebar-menu.e-dock.e-close .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon e-selected e-focused,
#sidebar-menu.e-dock.e-close .e-menu-wrapper ul.e-vertical {
    background-color: var(--menubgclrhlt) !important;
    color: var(--menutxtclrhlt);
}

#sidebar-menu.e-dock.e-close .e-menu-wrapper ul.e-menu {
    font-size: 0px;
}

#sidebar-menu.e-dock.e-close .e-menu-item .e-menu-icon {
    font-size: 20px;
}
/* end - sidebar menu styles */

/* content area styles */
#maintext.main-content {
    z-index: 1000;
    box-sizing: border-box;
    padding: 0px 15px 15px 15px;
}

#maintext .sidebar-menu-content {
    margin-top: 15px;
    box-sizing: border-box;
}

#maintext .content-section {
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    position: relative;
    box-sizing: border-box;
}
/* end - content area styles *************************************/
.e-toast-gen
{
    padding:50px!important;
    text-align: center;
}
