<div id="list-view" class="container-fluid" *ngIf="form">
    <div class="row d-flex align-items-end">
        <div class="col-md-6 d-flex align-items-center list-header">
            <span class="list-header-icon"><i class="fas fa-calendar-alt"></i></span>
            <span class="list-header-title">Collections</span>
            <span class="list-header-add"><button ejs-button cssClass="e-outline" [routerLink]="['../add']" [disabled]="!privileges.create">+ Add</button></span>
        </div>
        <div class="col-md-6 d-flex align-items-end justify-content-end list-header">
            <span class="list-actions"><button ejs-button cssClass="e-outline" iconCss="fad fa-download" [disabled]="!privileges.download" (click)="export()"></button></span>
        </div>
    </div>
    <div class="row d-flex align-items-end">
        <div class="col-3">
            <ejs-textbox [(value)]="form.collectionNo" placeholder="Collection No" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-3">
            <ejs-datepicker [(value)]="form.scheduledDate" placeholder="Scheduled Date" floatLabelType="Always"></ejs-datepicker>
        </div>
        <div class="col-2">
            <ejs-dropdownlist [dataSource]="statuses" [(value)]="form.collectionStatusId" [fields]="{ text: 'name', value: 'id' }" placeholder="Status" floatLabelType="Always"></ejs-dropdownlist>
        </div>
        <div class="col-3">
            <button ejs-button cssClass="e-primary search-button" iconCss="fal fa-search pad-r10" (click)="search()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pad-t20">
            <ejs-grid #grid [dataSource]='list' *ngIf="list" [allowPaging]="true" [pageSettings]='form.pageSettings' [sortSettings]='form.sortSettings' (actionComplete)='gridActionHandler($event)'
                      [allowExcelExport]='true' (excelExportComplete)='excelExportComplete()' [allowSorting]="true" [allowFiltering]="false">
                <e-columns>
                    <e-column width="70" [visible]='true'>
                        <ng-template #template let-data>
                            <a [routerLink]="['../edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                        </ng-template>
                    </e-column>
                    <e-column field='collectionNo' headerText='Collection No' width='150'></e-column>
                    <e-column field='scheduledDate' type='date' [format]='dateFormat' headerText='Scheduled For' width='150'></e-column>
                    <e-column field='site' headerText='Site'></e-column>
                    <e-column field='location' headerText='Location'></e-column>
                    <e-column field='city' headerText='City'></e-column>
                    <e-column field='containers' headerText='Containers' textAlign='Center'></e-column>
                    <e-column field='vendor' headerText='Vendor'></e-column>
                    <e-column field='collectedDate' type='date' [format]='dateFormat' headerText='Collected On' width='150'></e-column>
                    <e-column field='samples' headerText='Samples' textAlign='Center'></e-column>
                    <e-column field='status' headerText='Status' textAlign='Center'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
</div>


