<div id="edit-view" *ngIf="record && form" class="container-fluid" [formGroup]="form">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fal fa-calendar-alt"></i></span>
            <span class="edit-header-title">Collection</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <ejs-dropdownlist [dataSource]="customers" [fields]="{ text: 'name', value: 'id' }" formControlName="customerId" placeholder="Customer*" floatLabelType="Always" (change)="customerChange($event)"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('customerId')" class="e-error">
                Customer is required!
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4" *ngIf="sites">
            <ejs-dropdownlist [dataSource]="sites" [fields]="{ text: 'name', value: 'id' }" formControlName="siteId" placeholder="Site*" floatLabelType="Always" (change)="siteChange($event)"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('siteId')" class="e-error">
                Site is required!
            </div>
        </div>

        <div class="col-md-6 col-lg-5 col-xl-4" *ngIf="locations">
            <ejs-dropdownlist [dataSource]="locations" [fields]="{ text: 'name', value: 'id' }" formControlName="locationId" placeholder="Location*" floatLabelType="Always" (change)="locationChange($event)"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('locationId')" class="e-error">
                Location is required!
            </div>
        </div>
    </div>

    <div class="row pad-b20" *ngIf="form.get('locationId').value">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-dropdownlist [dataSource]="vendors" [fields]="{ text: 'name', value: 'id' }" formControlName="logisticVendorId" placeholder="Logistic Vendor*" floatLabelType="Always"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('logisticVendorId')" class="e-error">
                Logistic Vendor is required!
            </div>
        </div>
    </div>

    <div class="row pad-t20" *ngIf="form.get('locationId').value">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-datepicker formControlName="startDate" required placeholder="Start Date*" floatLabelType="Always"></ejs-datepicker>
            <div *ngIf="this.invalidControl('startDate')" class="e-error">
                Start Date is required!
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-datepicker formControlName="endDate" required placeholder="End Date*" floatLabelType="Always"></ejs-datepicker>
            <div *ngIf="this.invalidControl('endDate')" class="e-error">
                End Date is required!
            </div>
        </div>
    </div>

    <div class="row pad-b20" *ngIf="form.get('startDate').value && form.get('endDate').value">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-dropdownlist formControlName="frequencyId" [dataSource]="app.frequencies" [fields]="{ text: 'name', value: 'id' }" placeholder="Testing Frequency *" floatLabelType="Always" (change)="frequencyChange()"></ejs-dropdownlist>
            <div *ngIf="this.invalidControl('frequencyId')" class="e-error">
                Testing Frequency is required!
            </div>
        </div>
    </div>

    <div class="row pad-b20 mar-t20" *ngIf="form.get('frequencyId').value == 2">
        <div class="col-12">
            <ul class="days">
                <li><ejs-checkbox label="Sunday" [(checked)]="record.days.Sunday"></ejs-checkbox></li>
                <li><ejs-checkbox label="Monday" [(checked)]="record.days.Monday"></ejs-checkbox></li>
                <li><ejs-checkbox label="Tuesday" [(checked)]="record.days.Tuesday"></ejs-checkbox></li>
                <li><ejs-checkbox label="Wednesday" [(checked)]="record.days.Wednesday"></ejs-checkbox></li>
                <li><ejs-checkbox label="Thursday" [(checked)]="record.days.Thursday"></ejs-checkbox></li>
                <li><ejs-checkbox label="Friday" [(checked)]="record.days.Friday"></ejs-checkbox></li>
                <li><ejs-checkbox label="Saturday" [(checked)]="record.days.Saturday"></ejs-checkbox></li>
            </ul>
        </div>
    </div>

    <div class="row mar-t20" *ngIf="showContainer">
        <div class="col-3">
            <ejs-dropdownlist [dataSource]="app.containerTypes" [fields]="{ text: 'name', value: 'name' }" [(value)]="container.containerType" placeholder="Container Type*" floatLabelType="Always"></ejs-dropdownlist>
        </div>

        <div class="col-3">
            <ejs-dropdownlist [dataSource]="vendors" [fields]="{ text: 'name', value: 'id' }" [(value)]="container.labVendorId" placeholder="Lab Vendor*" floatLabelType="Always"></ejs-dropdownlist>
        </div>

        <div class="col-3">
            <ejs-numerictextbox [(value)]="container.samples" format='N0' min='0' max='10' step='1' placeholder="Number of Samples*" floatLabelType="Always"></ejs-numerictextbox>
        </div>

        <div class="col-3">
            <ejs-numerictextbox [(value)]="container.expectedVolume" format='N1' min='0' max='500' step='1' placeholder="Expected Volume" floatLabelType="Always"></ejs-numerictextbox>
        </div>
    </div>

    <div class="row" *ngIf="showContainer">
        <div class="col-3">
            <ejs-dropdownlist [dataSource]="data.testTypes" [(value)]="container.testType" placeholder="Test Type" floatLabelType="Always" (change)="changeTestType($event)"></ejs-dropdownlist>
        </div>

        <div class="col-6">
            <ejs-multiselect [dataSource]="analytes" [fields]="{ text: 'analyte', value: 'analyte' }" [(value)]="container.analytes" placeholder="Analytes" floatLabelType="Always"></ejs-multiselect>
        </div>

        <div class="col-3">
            <span class="list-header-add"><button ejs-button cssClass="e-outline" (click)="addTestType()" [disabled]="!container.analytes">+ Add Test Type</button></span>
        </div>
    </div>

    <div class="row pad-b20" *ngIf="showContainer">
        <div class="col-12">
            <ejs-textbox readonly="readonly" [value]="container.testTypeNames" placeholder="Test Types" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-b20" *ngIf="showContainer && container.testTypeNames">
        <div class="col-3">
            <span class="list-header-add"><button ejs-button cssClass="e-outline" (click)="addContainer()" [disabled]="!container.containerType || !container.samples">+ Add Container</button></span>
        </div>
    </div>

    <div class="row" *ngIf="record.containers.length">
        <div class="col-12 pad-t20">
            <ejs-grid #grid [dataSource]='record.containers' [allowPaging]="false">
                <e-columns>
                    <e-column width="70" [visible]='true'>
                        <ng-template #template let-data>
                            <button ejs-button (click)="deleteContainer(data)"><i class="fas fa-trash-alt edit-icon"></i></button>
                        </ng-template>
                    </e-column>
                    <e-column field='containerType' headerText='Container Type'></e-column>
                    <e-column field='labVendor' headerText='Lab Vendor'></e-column>
                    <e-column field='samples' headerText='No of Samples' textAlign='Center' format='N0'></e-column>
                    <e-column field='expectedVolume' headerText='Expected Volume' textAlign='Center' format='N1'></e-column>
                    <e-column field='testTypeNames' headerText='Test Types'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>

    <div class="row d-flex align-items-center edit-footer mar-t20">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update || !record.containers.length">Save</button>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/auth/collection/list']" [state]='{ formState: true }'>Close</button>
        </div>
    </div>
    <ejs-toast #toast></ejs-toast>
</div>

