<div id="edit-view" *ngIf="record && form" class="container-fluid" [formGroup]="form">
    <div class="row d-flex align-items-center edit-header">
        <div class="col-md-6 d-flex">
            <span class="edit-header-icon"><i class="fas fa-chart-network"></i></span>
            <span class="edit-header-title">Site</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <ejs-switch [(checked)]="record.active" onLabel="Active" offLabel="Not Active" style="width:100px;height:32px;"></ejs-switch>
        </div>
    </div>

    <div class="row pad-t10">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox formControlName="siteName" required placeholder="Site Name*" floatLabelType="Always"></ejs-textbox>
            <div *ngIf="this.invalidControl('siteName')" class="e-error">
                Site Name is required!
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-textbox id="edit-customer" [(value)]="record.customer" readonly placeholder="Customer" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-datepicker formControlName="serviceStartDate" placeholder="Service Start Date" floatLabelType="Always"></ejs-datepicker>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <ejs-datepicker formControlName="serviceEndDate" placeholder="Service End Date" floatLabelType="Always"></ejs-datepicker>
            <div *ngIf="this.form.controls['serviceEndDate'].value < this.form.controls['serviceStartDate'].value && this.form.controls['serviceEndDate'].value != undefined" class="e-error">
                End date is before start date!
            </div>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-tab id="edit-tab" class="e-fill" (created)="editTabCreated()" (selected)="selectTab(event)" #editTab>
                <e-tabitems>
                    <e-tabitem>
                        <ng-template #headerText>
                            <div>Information</div>
                        </ng-template>
                        <ng-template #content>
                            <div class="row">                                
                                
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <ejs-numerictextbox [(value)]="record.numberOfPeople" [validateDecimalOnType]='true' [decimals]="0" format="n" placeholder="Number Of People" floatLabelType="Always"></ejs-numerictextbox>
                                </div>
                            </div>
                            <div class="row pad-t20">
                                <div class="col-md-12 col-lg-10 col-xl-8">
                                    <ejs-textbox formControlName="address" placeholder="Address*" floatLabelType="Always" contenteditable="false"></ejs-textbox>
                                    <div *ngIf="this.invalidControl('address')" class="e-error">
                                        Address is required!
                                    </div>
                                </div>                                
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-lg-10 col-xl-8">
                                    <ejs-textbox formControlName="city" placeholder="City*" floatLabelType="Always"></ejs-textbox>
                                    <div *ngIf="this.invalidControl('city')" class="e-error">
                                        City is required!
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <ejs-dropdownlist (change)="stateChange($event)" formControlName="stateId" [dataSource]="app.states" [fields]="{ text: 'name', value: 'id' }" placeholder="State*" floatLabelType="Always"></ejs-dropdownlist>
                                    <div *ngIf="this.invalidControl('stateId')" class="e-error">
                                        State is required!
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <ejs-textbox formControlName="postalCode" placeholder="Postal Code*" floatLabelType="Always"></ejs-textbox>
                                    <div *ngIf="this.invalidControl('postalCode')" class="e-error">
                                        Postal code is required!
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <ejs-dropdownlist formControlName="countyId" [dataSource]="counties" [fields]="{ text: 'name', value: 'id' }" placeholder="County*" floatLabelType="Always"></ejs-dropdownlist>
                                    <div *ngIf="this.invalidControl('countyId')" class="e-error">
                                        County is required!
                                    </div>
                                </div>
                            </div>

                            <div class="row pad-t20">
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <ejs-textbox readonly="true" [(value)]="record.latitude" placeholder="Latitude" floatLabelType="Always"></ejs-textbox>
                                </div>
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <ejs-textbox readonly="true" [(value)]="record.longitude" placeholder="Longitude" floatLabelType="Always"></ejs-textbox>
                                </div>
                            </div>

                            <div class="row pad-t10">
                                <div class="col-md-12 col-lg-10 col-xl-8"><label for="boundaries" class="edit-label">Boundaries</label></div>
                                <div class="col-md-12 col-lg-10 col-xl-8">
                                    <ejs-textbox readonly="true" id="boundaries" [multiline]='true' #default rows="3" [(value)]="record.boundaries"></ejs-textbox>
                                </div>
                            </div>

                            <div class="row pad-t20">
                                <div class="col-md-12 col-lg-10 col-xl-8">
                                    <ejs-textbox formControlName="contactName" placeholder="Contact Name*" floatLabelType="Always"></ejs-textbox>
                                    <div *ngIf="this.invalidControl('contactName')" class="e-error">
                                        Contact name is required!
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <ejs-textbox formControlName="contactEmail" placeholder="Email*" floatLabelType="Always"></ejs-textbox>
                                    <div *ngIf="this.invalidControl('contactEmail')" class="e-error">
                                        Email is invalid!
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <ejs-maskedtextbox formControlName="contactPhoneNo" placeholder="Phone Number*" floatLabelType="Always" pattern="^[0-9]{10}$" mask="(000) 000 - 0000"></ejs-maskedtextbox>
                                    <div *ngIf="this.invalidControl('contactPhoneNo')" class="e-error">
                                        Phone number is invalid!
                                    </div>
                                </div>

                            </div>

                            <div class="row pad-t20">
                                <div class="col-md-12 col-lg-10 col-xl-8">
                                    <ejs-textbox [(value)]="record.notificationEmail" placeholder="Notification Email(s)" floatLabelType="Always"></ejs-textbox>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-lg-10 col-xl-8">
                                    <ejs-textbox [(value)]="record.alerts" placeholder="Alert Phone Number(s)" floatLabelType="Always"></ejs-textbox>
                                </div>
                            </div>

                            <div class="row pad-t20">
                                <div class="col-md-12 col-lg-10 col-xl-8"><label for="notes" class="edit-label">Notes</label></div>
                                <div class="col-md-12 col-lg-10 col-xl-8">
                                    <ejs-textbox id="notes" [multiline]='true' #default rows="3" [(value)]="record.notes"></ejs-textbox>
                                </div>
                            </div>
                        </ng-template>
                    </e-tabitem>
                    <e-tabitem *ngIf="record.id && app.privileges.locations.read">
                        <ng-template #headerText>
                            <div>Locations</div>
                        </ng-template>
                        <ng-template #content>
                            <div class="row d-flex align-items-end">
                                <div class="col d-flex align-items-center subitem-list-header">
                                    <span class="subitem-list-icon"><i class="fas fa-location"></i></span>
                                    <span class="subitem-list-title">Locations</span>
                                    <span class="subitem-list-add"><button ejs-button cssClass="e-outline" [routerLink]="['/auth/location/add', record.id]" [disabled]="!app.privileges.locations.create">+ Add</button></span>
                                </div>
                            </div>
                            <div class="row pad-b20">
                                <div class="col-md-12 col-lg-4 col-xl-3 pad-t20">
                                    <ejs-grid [dataSource]='record.locations' class="edit-grid" [allowPaging]="false" [pageSettings]='{ pageSizes: true, pageCount: 10 }' [allowSorting]="true" [allowFiltering]="false" *ngIf="record">
                                        <e-columns>
                                            <e-column width="70">
                                                <ng-template #template let-data>
                                                    <a [routerLink]="['/auth/location/edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                                                </ng-template>
                                            </e-column>
                                            <e-column field='name' headerText='Location Name'></e-column>
                                            <e-column field='active' headerText='Active' width="90"></e-column>
                                        </e-columns>
                                    </ejs-grid>
                                </div>
                                <div class="col-md-12 col-lg-8 col-xl-5 pad-t20">
                                    <google-map height="450px" width="100%" [options]="mapOptions" #map style="border-width:1px; box-sizing: border-box;"></google-map>
                                </div>
                            </div>
                        </ng-template>
                    </e-tabitem>
                    <e-tabitem *ngIf="siteAnalytes !== null">
                        <ng-template #headerText>
                            <div>Analytes</div>
                        </ng-template>
                        <ng-template #content>
                            <div class="row">
                                <div class="col-12 pad-t20">
                                    <ejs-grid #grid [dataSource]='siteAnalytes' [editSettings]='editSettings' [allowSorting]="true" [toolbar]='toolbar' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
                                        <e-columns>
                                            <e-column [commands]='editCommand' width="70"></e-column>
                                            <e-column field='analyte' headerText='Analyte' [isPrimaryKey]='true'></e-column>
                                            <e-column field='lowThreshold' headerText='Low Threshold'></e-column>
                                            <e-column field='highThreshold' headerText='High Threshold'></e-column>
                                            <e-column field='sendNotifications' headerText='Send Notifications' [displayAsCheckBox]="true"></e-column>
                                            <e-column field='sendAlerts' headerText='Send Alerts' [displayAsCheckBox]="true"></e-column>
                                            <e-column field='lastUpdatedBy' headerText='Last Updated By'></e-column>
                                            <e-column field='lastUpdatedDate' headerText='Last Updated Date' type='date' [format]='dateFormat' width="180"></e-column>
                                            <e-column [commands]='deleteCommand' width="50"></e-column>
                                        </e-columns>
                                        <ng-template #editSettingsTemplate let-data>
                                            <div [formGroup]="analyteForm">
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <ejs-dropdownlist formControlName="analyteId" [dataSource]="tenantAnalytes" [fields]="{ text: 'name', value: 'id' }" [(value)]="data.analyteId" placeholder="Analyte*" floatLabelType="Always"></ejs-dropdownlist>
                                                    </div>
                                                </div>
                                                <div class="form-row pad-t15">
                                                    <div class="col-md-6">
                                                        <ejs-numerictextbox formControlName="lowThreshold" [(value)]="data.lowThreshold" format='N1' step='1' placeholder="Low Threshold*" floatLabelType="Always"></ejs-numerictextbox>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ejs-numerictextbox formControlName="highThreshold" [(value)]="data.highThreshold" format='N1' step='1' placeholder="High Threshold*" floatLabelType="Always"></ejs-numerictextbox>
                                                    </div>
                                                </div>
                                                <div class="form-row pad-t20">
                                                    <div class="col-md-6">
                                                        <ejs-checkbox formControlName="sendNotifications" [(value)]="data.sendNotifications" label="Send Notifications"></ejs-checkbox>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ejs-checkbox formControlName="sendAlerts" [(value)]="data.sendAlerts" label="Send Alerts"></ejs-checkbox>
                                                    </div>
                                                </div>
                                            </div> 
                                        </ng-template>
                                    </ejs-grid>
                                </div>
                            </div>
                        </ng-template>
                    </e-tabitem>
                </e-tabitems>
            </ejs-tab>
        </div>
    </div>

    <div class="row d-flex edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading || !privileges.update">Save</button>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id || !privileges.delete">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" (click)="close()" [state]='{ sites: true }'>Close</button>
        </div>
    </div>
    <ejs-toast #toast></ejs-toast>
</div>

