<div *ngIf="record" id="edit-view"  class="container-fluid">
    <div class="row d-flex align-items-end edit-header">
        <div class="col-9 d-flex">
            <span class="edit-header-icon"><i class="fas fa-users-crown"></i></span>
            <span class="edit-header-title">Sites</span>
        </div>
        <div class="col-3 d-flex">
            active
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.Name" placeholder="Name" floatLabelType="Always" contenteditable="false"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-6 d-flex">
            <ejs-datepicker [(value)]="record.ServiceStartDate" placeholder="Service Start Date" floatLabelType="Always"></ejs-datepicker>
        </div>
        <div class="col-md-6 d-flex">
            <ejs-datepicker [(value)]="record.ServiceEndDate" placeholder="Service End Date" floatLabelType="Always"></ejs-datepicker>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.Address" placeholder="Address" floatLabelType="Always" contenteditable="false"></ejs-textbox>
        </div>
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.Address2" placeholder="Address2" floatLabelType="Always"></ejs-textbox>
        </div>
       
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.City" placeholder="City" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <ejs-dropdownlist [fields]="{ text: 'name', id: 'id' }" [(value)]="state" placeholder="State" floatLabelType="Always"></ejs-dropdownlist>
            </div>
        <div class="col-md-3 d-flex">
            <ejs-textbox [(value)]="record.PostalCode" placeholder="Postal Code" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-6 d-flex">
            <ejs-textbox [(value)]="record.Latitude" placeholder="Latitude" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-6 d-flex">
            <ejs-textbox [(value)]="record.Longitude" placeholder="Longitude" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.ContactName" placeholder="Contact Name" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex">
        <div class="col-md-6 d-flex">
            <ejs-textbox [(value)]="record.ContactPhoneNo" placeholder="Phone Number" floatLabelType="Always"></ejs-textbox>
        </div>
        <div class="col-md-6 d-flex">
            <ejs-textbox [(value)]="record.ContactEmail" placeholder="Email" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.NotificationEmail" placeholder="Notification Email" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.Notes" placeholder="Notes" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>



    <div class="row d-flex pad-t20 pad-b20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.FrequencyID" placeholder="Frequency Id" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row d-flex edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading">Save</button>
            <ejs-toast #toast></ejs-toast>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/location/list']">Close</button>            
        </div>        
    </div>
</div>

