<div id="edit-view" *ngIf="record" class="container-fluid">
    <div class="row d-flex align-items-end edit-header">
        <div class="col-12 d-flex">
            <span class="edit-header-icon"><i class="fas fa-shield-check"></i></span>
            <span class="edit-header-title">Role</span>
        </div>        
    </div>

    <div class="row d-flex pad-t20">
        <div class="col-md-12 d-flex">
            <ejs-textbox [(value)]="record.name" placeholder="Role Name" floatLabelType="Always"></ejs-textbox>
        </div>
    </div>

    <div class="row pad-t20 pad-b20">
        <div class="col-md-12"><label for="privileges-grid" class="edit-label">Privileges</label></div>
        <div class="col-md-12">
            <ejs-grid id="privileges-grid" #grid [dataSource]='record.featureRoles' class="edit-grid" [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }' [allowSorting]="true" [allowFiltering]="false">
                <e-columns>
                    <e-column field='name' headerText='Name'></e-column>
        
                    <e-column field='create' headerText='Create' textAlign='Center' width="120">
                        <ng-template #template let-data>
                            <ejs-checkbox [(checked)]="record.featureRoles[data.index].create"></ejs-checkbox>
                        </ng-template>
                    </e-column>
        
                    <e-column field='read' headerText='Read' textAlign='Center' width="120">
                        <ng-template #template let-data>
                            <ejs-checkbox [(checked)]="record.featureRoles[data.index].read"></ejs-checkbox>
                        </ng-template>
                    </e-column>
        
                    <e-column field='update' headerText='Update' textAlign='Center' width="120">
                        <ng-template #template let-data>
                            <ejs-checkbox [(checked)]="record.featureRoles[data.index].update"></ejs-checkbox>
                        </ng-template>
                    </e-column>
        
                    <e-column field='delete' headerText='Delete' textAlign='Center' width="120">
                        <ng-template #template let-data>
                            <ejs-checkbox [(checked)]="record.featureRoles[data.index].delete"></ejs-checkbox>
                        </ng-template>
                    </e-column>
        
                    <e-column field='approve' headerText='Approve' textAlign='Center' width="120">
                        <ng-template #template let-data>
                            <ejs-checkbox [(checked)]="record.featureRoles[data.index].approve"></ejs-checkbox>
                        </ng-template>
                    </e-column>
        
                    <e-column field='download' headerText='Download' textAlign='Center' width="120">
                        <ng-template #template let-data>
                            <ejs-checkbox [(checked)]="record.featureRoles[data.index].download"></ejs-checkbox>
                        </ng-template>
                    </e-column>
                    <e-column field='communicate' headerText='Communicate' textAlign='Center' width="140">
                        <ng-template #template let-data>
                            <ejs-checkbox [(checked)]="record.featureRoles[data.index].communicate"></ejs-checkbox>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>    
    </div>

    <div class="row d-flex edit-footer">
        <div class="col-md-6 d-flex justify-content-start">
            <button ejs-button cssClass="save-button" isPrimary="true" (click)="save()" [disabled]="loading">Save</button>
            <ejs-toast #toast></ejs-toast>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button ejs-button cssClass="e-danger" (click)="delete()" [disabled]="loading || !record.id">Delete</button>
            <button ejs-button cssClass="e-outline e-flat close-button" [routerLink]="['/auth/role/list']">Close</button>
        </div>
    </div>
</div>

