<div id="list-view" class="container-fluid">
    <div class="row d-flex align-items-end">
        <div class="col d-flex align-items-end list-header">
            <span class="list-header-icon"><i class="fas fa-shield-check"></i></span>
            <span class="list-header-title">Roles</span>
            <span class="list-header-add"><button ejs-button cssClass="e-outline" [routerLink]="['../add']">+ Add</button></span>
        </div>
    </div>
    <div class="row d-flex align-items-end list-content">
        <div class="col-md-5 col-lg-3">
            <ejs-textbox [(value)]="form.roleName" placeholder="Role Name" floatLabelType="Always" (keyup.enter)="search()"></ejs-textbox>
        </div>
        <div class="col-md-5 col-lg-3 pad-t20">
            <button ejs-button cssClass="e-primary search-button" iconCss="fal fa-search pad-r10" (click)="search()">Search</button>
        </div>
        <div class="col-12 pad-t20">
            <ejs-grid [dataSource]='list' [allowPaging]="true" [pageSettings]='{ pageSizes: true, pageCount: 10 }' [allowSorting]="true" [allowFiltering]="false" *ngIf="list">
                <e-columns>
                    <e-column width="70">
                        <ng-template #template let-data>                            
                            <a [routerLink]="['../edit', data.id]"><i class="fas fa-pencil-alt edit-icon"></i></a>
                        </ng-template>
                    </e-column>
                    <e-column field='name' headerText='Name'></e-column>
                    <e-column field='users' headerText='Users' textAlign='Center' width="100"></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
</div>


